#### Import the necessary Libraries

In [13]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### File open the CSV files and bring them in as their own Data Frames

In [14]:
members =pd.read_csv('../data/NSS_GreatCare_Members.csv')

In [15]:
admissions =pd.read_csv('../data/NSS_Hospital_Inpatient_Admissions.csv')

In [16]:
pcp_visit =pd.read_csv('../data/NSS_PrimaryCare_Office_Visits.csv')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,5,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [17]:
print('\nMembers Data\n\n')
print(members.info())
print('\n\n------------------------------------------------------------------------------------------\n\n')
print('Admissions Data\n\n')
print(admissions.info())
print('\n\n------------------------------------------------------------------------------------------\n\n')
print('PCP Visit\n\n')
print(pcp_visit.info())

Members Data


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  object
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  object
 62  Period End Date                                                  61519 non-null  object
dtypes: float64(8), int64(45), object(10)
memory usage: 29.6+ MB
None


------------------------------------------------------------------------------------------


Admissions Data


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   object
 9   Encounter End Date                                   6213 non-null   object
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.1+ MB
None


------------------------------------------------------------------------------------------


PCP Visit


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  object
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 31.8+ MB
None

#### Clean up data fields - Getting the House in Orde

In [18]:
# Change Object data type to Dates
members['Period Start Date'] = pd.to_datetime(members['Period Start Date'], format='%Y-%m-%d')
members['Period End Date'] = pd.to_datetime(members['Period End Date'], format='%Y-%m-%d')
members['Patient Date of Birth'] = pd.to_datetime(members['Patient Date of Birth'], format='%Y-%m-%d')
# Drop the Zeros on the Zip and fill in the blank and convert to the string
members['Patient ZIP Code 5-Digit'] = members['Patient ZIP Code 5-Digit'].fillna("0").astype(int).astype(str)
# Add an additional field of 30days after the end date.
#members['days_30'] = members['Period End Date']+ pd.DateOffset(days=30)
# Change Object data type to Dates
admissions['Encounter Start Date'] = pd.to_datetime(admissions['Encounter Start Date'], format='%Y-%m-%d')
admissions['Encounter End Date'] = pd.to_datetime(admissions['Encounter End Date'], format='%Y-%m-%d')
pcp_visit['Encounter Date'] = pd.to_datetime(pcp_visit['Encounter Date'], format='%Y-%m-%d')

### Take select columns from the dataframes

In [19]:
admissions1 = admissions[['Encounter ID', 'Patient ID', 'Attending Provider NPI',
       'Facility Provider NPI', 'Encounter Start Date', 'Encounter End Date',
       #'Principal Discharge Diagnosis ICD-9-CM Code',
       #'Principal Discharge Diagnosis ICD-9-CM Description',
       #'Principal Discharge Diagnosis ICD-10-CM Code',
       #'Principal Discharge Diagnosis ICD-10-CM Description',
       #'Primary Plan Allowed Amount', 'Primary Plan Paid Amount',
       'Patient Paid Amount']]

In [20]:
admissions1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Encounter ID            6213 non-null   object
 1   Patient ID              6213 non-null   object
 2   Attending Provider NPI  5884 non-null   float64
 3   Facility Provider NPI   6213 non-null   object
 4   Encounter Start Date    6213 non-null   datetime64[ns]
 5   Encounter End Date      6213 non-null   datetime64[ns]
 6   Patient Paid Amount     6213 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(3)
memory usage: 339.9+ KB

In [21]:
#reduce pcp to relevant columns
pcp1 = pcp_visit[['Encounter ID','Patient ID', 'Attending Provider NPI', 'Service Provider NPI',
          'Provider Group NPI','Encounter Date']]

In [22]:
pcp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Encounter ID            231373 non-null  object
 1   Patient ID              231373 non-null  object
 2   Attending Provider NPI  39644 non-null   float64
 3   Service Provider NPI    230599 non-null  float64
 4   Provider Group NPI      227644 non-null  float64
 5   Encounter Date          231373 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 10.6+ MB

### Problem 1: 30-day Readmission Rate

#### What is our 30-day all cause readmission rate across hospitals our members are admitted to?Â¶

#### Getting the next admission date for same patient to same line

In [23]:
admissions2 = admissions1
admissions2['next_adm']= admissions2.sort_values(by=['Encounter Start Date'],ascending=True).groupby(['Patient ID']) ['Encounter Start Date'].shift(-1)
admissions2.head(50)
# admissions2['next_adm']= admissions2.sort_values(by=['Encounter Start Date'],ascending=True).groupby(['Patient ID']) ['Encounter Start Date'].shift(-1)
# admissions2.tail(50)

<ipython-input-23-0380320bb9d9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admissions2['next_adm']= admissions2.sort_values(by=['Encounter Start Date'],ascending=True).groupby(['Patient ID']) ['Encounter Start Date'].shift(-1)

,Encounter ID,Patient ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,Patient Paid Amount,next_adm
0,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,1.417171e+09,1306890389,2013-01-12,2013-01-14,250.0,NaT
1,HIA|DS1|10043|DS1|NPI|1902803315|1,DS1|10043,1.669599e+09,1902803315,2014-01-05,2014-01-12,250.0,NaT
2,HIA|DS1|10073|DS1|NPI|1902803315|1,DS1|10073,1.407881e+09,1902803315,2012-06-13,2012-06-21,250.0,NaT
3,HIA|DS1|10101|DS1|NPI|1427055839|1,DS1|10101,1.407009e+09,1427055839,2012-12-06,2012-12-09,250.0,NaT
4,HIA|DS1|10118|DS1|NPI|1992818256|1,DS1|10118,1.518046e+09,1992818256,2015-03-11,2015-03-14,0.0,NaT
5,HIA|DS1|10126|DS1|NPI|1902803315|1,DS1|10126,1.346557e+09,1902803315,2010-04-07,2010-04-09,250.0,NaT
6,HIA|DS1|10130|DS1|NPI|1427055839|1,DS1|10130,1.316989e+09,1427055839,2014-06-01,2014-06-05,250.0,NaT
7,HIA|DS1|10132|DS1|NPI|1366545311|1,DS1|10132,NaN,1366545311,2013-08-14,2013-08-16,250.0,NaT
8,HIA|DS1|10132|DS1|NPI|1386741635|1,DS1|10132,1.417995e+09,1386741635,2013-03-30,2013-04-01,250.0,2013-08-14
9,HIA|DS1|10135|DS1|NPI|1184722779|1,DS1|10135,1.396818e+09,1184722779,2013-08-20,2013-08-22,250.0,NaT
10,HIA|DS1|10168|DS1|NPI|1184722779|1,DS1|10168,1.447495e+09,1184722779,2014-12-17,2014-12-19,250.0,NaT
11,HIA|DS1|10169|DS1|NPI|1710918545|1,DS1|10169,1.528163e+09,1710918545,2013-05-13,2013-05-18,250.0,NaT
12,HIA|DS1|10191|DS1|NPI|1902803315|1,DS1|10191,1.366605e+09,1902803315,2010-12-24,2010-12-28,250.0,NaT
13,HIA|DS1|10193|DS1|NPI|1124073366|1,DS1|10193,1.427376e+09,1124073366,2014-05-23,2014-05-23,250.0,NaT
14,HIA|DS1|10228|DS1|NPI|1427055839|1,DS1|10228,1.619074e+09,1427055839,2015-02-03,2015-02-07,250.0,NaT
15,HIA|DS1|10239|DS1|NPI|1427055839|1,DS1|10239,1.972527e+09,1427055839,2014-05-09,2014-05-15,250.0,NaT
16,HIA|DS1|10244|DS1|NPI|1689608150|1,DS1|10244,1.366847e+09,1689608150,2014-08-26,2014-08-29,250.0,NaT
17,HIA|DS1|10253|DS1|NPI|1215987532|1,DS1|10253,1.750346e+09,1215987532,2011-10-15,2011-11-13,0.0,NaT
18,HIA|DS1|10253|DS1|NPI|1396725677|1,DS1|10253,1.932127e+09,1396725677,2010-06-02,2010-06-06,250.0,2011-10-15
19,HIA|DS1|10253|DS1|NPI|1689772592|1,DS1|10253,1.346566e+09,1689772592,2010-04-02,2010-04-16,250.0,2010-06-02
20,HIA|DS1|10291|DS1|NPI|1821250762|1,DS1|10291,1.598994e+09,1821250762,2010-05-14,2010-05-15,250.0,2011-02-24
21,HIA|DS1|10291|DS1|NPI|1902803315|1,DS1|10291,1.720241e+09,1902803315,2011-02-24,2011-03-05,250.0,NaT
22,HIA|DS1|10296|DS1|NPI|1033298617|1,DS1|10296,1.023149e+09,1033298617,2014-02-12,2014-02-13,0.0,NaT
23,HIA|DS1|10303|DS1|NPI|1710918545|1,DS1|10303,1.508842e+09,1710918545,2012-06-21,2012-06-24,250.0,NaT
24,HIA|DS1|10305|DS1|NPI|1184722779|1,DS1|10305,1.730127e+09,1184722779,2014-05-10,2014-05-12,250.0,NaT
25,HIA|DS1|10325|DS1|NPI|1184722779|1,DS1|10325,1.053334e+09,1184722779,2012-07-06,2012-07-07,0.0,NaT
26,HIA|DS1|10343|DS1|NPI|1427055839|1,DS1|10343,1.922324e+09,1427055839,2010-02-23,2010-03-03,250.0,NaT
27,HIA|DS1|10349|DS1|NPI|1427055839|1,DS1|10349,1.700829e+09,1427055839,2017-06-21,2017-06-22,250.0,NaT
28,HIA|DS1|10375|DS1|NPI|1689608150|1,DS1|10375,1.982865e+09,1689608150,2014-08-15,2014-08-18,250.0,NaT
29,HIA|DS1|10399|DS1|NPI|1689772592|1,DS1|10399,1.902850e+09,1689772592,2014-09-25,2014-10-03,250.0,NaT
30,HIA|DS1|10411|DS1|NPI|1902803315|1,DS1|10411,1.366605e+09,1902803315,2015-02-24,2015-02-26,250.0,NaT
31,HIA|DS1|10415|DS1|NPI|1710918545|1,DS1|10415,1.508842e+09,1710918545,2012-08-19,2012-08-20,250.0,NaT
32,HIA|DS1|10423|DS1|NPI|1902803315|1,DS1|10423,1.710270e+09,1902803315,2014-12-24,2014-12-27,250.0,NaT
33,HIA|DS1|10436|DS1|NPI|1427055839|1,DS1|10436,1.427155e+09,1427055839,2015-02-20,2015-02-23,250.0,NaT
34,HIA|DS1|10451|DS1|NPI|1023010113|1,DS1|10451,1.306903e+09,1023010113,2014-04-24,2014-04-26,250.0,2014-05-23
35,HIA|DS1|10451|DS1|NPI|1063412005|1,DS1|10451,1.518963e+09,1063412005,2013-03-20,2013-03-23,250.0,2013-03-27
36,HIA|DS1|10451|DS1|NPI|1225199987|1,DS1|10451,1.750425e+09,1225199987,2014-06-29,2014-06-29,0.0,NaT
37,HIA|DS1|10451|DS1|NPI|1427055839|1,DS1|10451,1.427345e+09,1427055839,2013-04-16,2013-04-26,50.0,2013-05-01
38,HIA|DS1|10451|DS1|NPI|1427055839|2,DS1|10451,1.073567e+09,1427055839,2013-05-01,2013-05-09,0.0,2013-06-25
39,HIA|DS1|10451|DS1|NPI|1427055839|3,DS1|10451,1.073567e+09,1427055839,2013-06-25,2013-07-01,0.0,2013-07-26
40,HIA|DS1|10451|DS1|NPI|1427055839|4,DS1|10451,1.679542e+09,1427055839,2013-07-26,2013-08-03,0.0,2013-08-31
41,HIA|DS1|10451|DS1|NPI|1427055839|5,DS1|10451,1.215190e+09,1427055839,2013-08-31,2013-09-02,0.0,2013-11-14
42,HIA|DS1|10451|DS1|NPI|1427055839|6,DS1|10451,1.679542e+09,1427055839,2013-11-14,2013-11-20,0.0,2013-12-17
43,HIA|DS1|10451|DS1|NPI|1427055839|7,DS1|10451,1.053358e+09,1427055839,2013-12-17,2013-12-19,250.0,2014-04-24
44,HIA|DS1|10451|DS1|NPI|1427055839|8,DS1|10451,1.164615e+09,1427055839,2014-05-23,2014-05-29,180.0,2014-06-29
45,HIA|DS1|10451|DS1|NPI|1902844988|1,DS1|10451,1.811123e+09,1902844988,2013-03-27,2013-04-16,250.0,2013-04-16
46,HIA|DS1|10452|DS1|NPI|1710918545|1,DS1|10452,1.700876e+09,1710918545,2014-12-17,2014-12-20,250.0,NaT
47,HIA|DS1|10453|DS1|NPI|1427055839|1,DS1|10453,1.760630e+09,1427055839,2013-07-17,2013-07-20,250.0,NaT
48,HIA|DS1|1045|DS1|NPI|1184722779|1,DS1|1045,NaN,1184722779,2012-10-25,2012-10-26,250.0,NaT
49,HIA|DS1|10494|DS1|NPI|1992818256|1,DS1|10494,1.861599e+09,1992818256,2016-11-27,2016-11-29,0.0,NaT

In [24]:
#testing output
admissions2[admissions2['Patient ID']=='DS1|10451']

,Encounter ID,Patient ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,Patient Paid Amount,next_adm
34,HIA|DS1|10451|DS1|NPI|1023010113|1,DS1|10451,1.306903e+09,1023010113,2014-04-24,2014-04-26,250.0,2014-05-23
35,HIA|DS1|10451|DS1|NPI|1063412005|1,DS1|10451,1.518963e+09,1063412005,2013-03-20,2013-03-23,250.0,2013-03-27
36,HIA|DS1|10451|DS1|NPI|1225199987|1,DS1|10451,1.750425e+09,1225199987,2014-06-29,2014-06-29,0.0,NaT
37,HIA|DS1|10451|DS1|NPI|1427055839|1,DS1|10451,1.427345e+09,1427055839,2013-04-16,2013-04-26,50.0,2013-05-01
38,HIA|DS1|10451|DS1|NPI|1427055839|2,DS1|10451,1.073567e+09,1427055839,2013-05-01,2013-05-09,0.0,2013-06-25
39,HIA|DS1|10451|DS1|NPI|1427055839|3,DS1|10451,1.073567e+09,1427055839,2013-06-25,2013-07-01,0.0,2013-07-26
40,HIA|DS1|10451|DS1|NPI|1427055839|4,DS1|10451,1.679542e+09,1427055839,2013-07-26,2013-08-03,0.0,2013-08-31
41,HIA|DS1|10451|DS1|NPI|1427055839|5,DS1|10451,1.215190e+09,1427055839,2013-08-31,2013-09-02,0.0,2013-11-14
42,HIA|DS1|10451|DS1|NPI|1427055839|6,DS1|10451,1.679542e+09,1427055839,2013-11-14,2013-11-20,0.0,2013-12-17
43,HIA|DS1|10451|DS1|NPI|1427055839|7,DS1|10451,1.053358e+09,1427055839,2013-12-17,2013-12-19,250.0,2014-04-24
44,HIA|DS1|10451|DS1|NPI|1427055839|8,DS1|10451,1.164615e+09,1427055839,2014-05-23,2014-05-29,180.0,2014-06-29
45,HIA|DS1|10451|DS1|NPI|1902844988|1,DS1|10451,1.811123e+09,1902844988,2013-03-27,2013-04-16,250.0,2013-04-16

#### Now that we have the Next Encounter Start Date added to the Current Encounter row. We can Calculate the number of days between the two visits

In [25]:
admissions2['Days Between Readmission']= admissions2['next_adm'] - admissions2['Encounter End Date']
admissions2

<ipython-input-25-5d65673b1a92>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admissions2['Days Between Readmission']= admissions2['next_adm'] - admissions2['Encounter End Date']

,Encounter ID,Patient ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,Patient Paid Amount,next_adm,Days Between Readmission
0,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,1.417171e+09,1306890389,2013-01-12,2013-01-14,250.0,NaT,NaT
1,HIA|DS1|10043|DS1|NPI|1902803315|1,DS1|10043,1.669599e+09,1902803315,2014-01-05,2014-01-12,250.0,NaT,NaT
2,HIA|DS1|10073|DS1|NPI|1902803315|1,DS1|10073,1.407881e+09,1902803315,2012-06-13,2012-06-21,250.0,NaT,NaT
3,HIA|DS1|10101|DS1|NPI|1427055839|1,DS1|10101,1.407009e+09,1427055839,2012-12-06,2012-12-09,250.0,NaT,NaT
4,HIA|DS1|10118|DS1|NPI|1992818256|1,DS1|10118,1.518046e+09,1992818256,2015-03-11,2015-03-14,0.0,NaT,NaT
...,...,...,...,...,...,...,...,...,...
6208,HIA|DS1|9979|DS1|NPI|1689772592|1,DS1|9979,1.720043e+09,1689772592,2015-02-06,2015-02-11,250.0,NaT,NaT
6209,HIA|DS1|9981|DS1|NPI|1427055839|1,DS1|9981,1.215968e+09,1427055839,2014-08-07,2014-08-10,250.0,NaT,NaT
6210,HIA|DS1|9994|DS1|NPI|1689608150|1,DS1|9994,1.861832e+09,1689608150,2015-11-21,2015-11-23,250.0,2015-11-24,1 days
6211,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,1.750545e+09,1689608150,2015-11-24,2015-11-27,250.0,NaT,NaT
6212,HIA|DS1|9996|DS1|NPI|1033298617|1,DS1|9996,1.518046e+09,1033298617,2010-03-28,2010-03-31,0.0,NaT,NaT

#### Drop all rows that have no Values in the Admission 2 Data Frame in the 'next_adm' or 'Days between Readmission' as they were not Re-admitted

In [26]:
re_admits = admissions2.dropna(subset=['next_adm'])
re_admits

,Encounter ID,Patient ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,Patient Paid Amount,next_adm,Days Between Readmission
8,HIA|DS1|10132|DS1|NPI|1386741635|1,DS1|10132,1.417995e+09,1386741635,2013-03-30,2013-04-01,250.0,2013-08-14,135 days
18,HIA|DS1|10253|DS1|NPI|1396725677|1,DS1|10253,1.932127e+09,1396725677,2010-06-02,2010-06-06,250.0,2011-10-15,496 days
19,HIA|DS1|10253|DS1|NPI|1689772592|1,DS1|10253,1.346566e+09,1689772592,2010-04-02,2010-04-16,250.0,2010-06-02,47 days
20,HIA|DS1|10291|DS1|NPI|1821250762|1,DS1|10291,1.598994e+09,1821250762,2010-05-14,2010-05-15,250.0,2011-02-24,285 days
34,HIA|DS1|10451|DS1|NPI|1023010113|1,DS1|10451,1.306903e+09,1023010113,2014-04-24,2014-04-26,250.0,2014-05-23,27 days
...,...,...,...,...,...,...,...,...,...
6198,HIA|DS1|9935|DS1|NPI|1669456299|1,DS1|9935,1.376864e+09,1669456299,2011-01-22,2011-01-24,250.0,2011-01-25,1 days
6199,HIA|DS1|9935|DS1|NPI|1902803315|1,DS1|9935,1.972545e+09,1902803315,2011-01-25,2011-01-26,250.0,2011-01-26,0 days
6201,HIA|DS1|9943|DS1|NPI|1184722779|1,DS1|9943,1.932297e+09,1184722779,2013-10-01,2013-10-16,160.0,2013-10-25,9 days
6202,HIA|DS1|9943|DS1|NPI|1184722779|2,DS1|9943,1.942320e+09,1184722779,2013-10-25,2013-10-28,0.0,2014-10-28,365 days
6210,HIA|DS1|9994|DS1|NPI|1689608150|1,DS1|9994,1.861832e+09,1689608150,2015-11-21,2015-11-23,250.0,2015-11-24,1 days

In [27]:
# the Dataframe does contain negative values in the Days between Readmission as well as we need to 
# find the records that are 0 - 30 days.
re_admits = re_admits[(re_admits['Days Between Readmission'] <= dt.timedelta(days = 30)) & (re_admits['Days Between Readmission'] >= dt.timedelta(days = 0)) ]
re_admits.head(50)

,Encounter ID,Patient ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,Patient Paid Amount,next_adm,Days Between Readmission
34,HIA|DS1|10451|DS1|NPI|1023010113|1,DS1|10451,1.306903e+09,1023010113,2014-04-24,2014-04-26,250.0,2014-05-23,27 days
35,HIA|DS1|10451|DS1|NPI|1063412005|1,DS1|10451,1.518963e+09,1063412005,2013-03-20,2013-03-23,250.0,2013-03-27,4 days
37,HIA|DS1|10451|DS1|NPI|1427055839|1,DS1|10451,1.427345e+09,1427055839,2013-04-16,2013-04-26,50.0,2013-05-01,5 days
39,HIA|DS1|10451|DS1|NPI|1427055839|3,DS1|10451,1.073567e+09,1427055839,2013-06-25,2013-07-01,0.0,2013-07-26,25 days
40,HIA|DS1|10451|DS1|NPI|1427055839|4,DS1|10451,1.679542e+09,1427055839,2013-07-26,2013-08-03,0.0,2013-08-31,28 days
42,HIA|DS1|10451|DS1|NPI|1427055839|6,DS1|10451,1.679542e+09,1427055839,2013-11-14,2013-11-20,0.0,2013-12-17,27 days
45,HIA|DS1|10451|DS1|NPI|1902844988|1,DS1|10451,1.811123e+09,1902844988,2013-03-27,2013-04-16,250.0,2013-04-16,0 days
51,HIA|DS1|10507|DS1|NPI|1902803315|1,DS1|10507,1.750312e+09,1902803315,2012-11-10,2012-11-16,250.0,2012-11-20,4 days
66,HIA|DS1|10698|DS1|NPI|1902803315|1,DS1|10698,1.295777e+09,1902803315,2012-01-03,2012-01-04,250.0,2012-01-04,0 days
70,HIA|DS1|10707|DS1|NPI|1033298617|2,DS1|10707,1.932231e+09,1033298617,2010-07-25,2010-07-27,0.0,2010-08-13,17 days
78,HIA|DS1|10734|DS1|NPI|1427055839|1,DS1|10734,1.386679e+09,1427055839,2010-04-25,2010-04-28,250.0,2010-05-17,19 days
80,HIA|DS1|10734|DS1|NPI|1427055839|3,DS1|10734,1.932308e+09,1427055839,2010-12-29,2011-01-04,250.0,2011-01-04,0 days
96,HIA|DS1|10830|DS1|NPI|1538265780|1,DS1|10830,NaN,1538265780,2011-06-14,2011-06-15,250.0,2011-06-15,0 days
129,HIA|DS1|11082|DS1|NPI|1508856535|1,DS1|11082,1.023419e+09,1508856535,2014-01-09,2014-01-19,250.0,2014-01-20,1 days
135,HIA|DS1|11089|DS1|NPI|1427055839|5,DS1|11089,1.164615e+09,1427055839,2012-02-22,2012-03-02,0.0,2012-03-08,6 days
144,HIA|DS1|11189|DS1|NPI|1033298617|1,DS1|11189,1.457680e+09,1033298617,2014-09-15,2014-09-16,0.0,2014-09-26,10 days
174,HIA|DS1|11433|DS1|NPI|1033298617|1,DS1|11433,1.417911e+09,1033298617,2012-10-13,2012-10-26,0.0,2012-10-28,2 days
176,HIA|DS1|11433|DS1|NPI|1689772592|1,DS1|11433,1.619934e+09,1689772592,2011-06-27,2011-06-30,250.0,2011-07-10,10 days
191,HIA|DS1|11581|DS1|NPI|1689608150|1,DS1|11581,1.508157e+09,1689608150,2013-09-22,2013-09-25,250.0,2013-10-15,20 days
192,HIA|DS1|11581|DS1|NPI|1689608150|2,DS1|11581,1.952578e+09,1689608150,2013-10-15,2013-10-19,250.0,2013-11-12,24 days
194,HIA|DS1|11581|DS1|NPI|1689608150|4,DS1|11581,1.063459e+09,1689608150,2013-12-21,2013-12-24,0.0,2014-01-15,22 days
215,HIA|DS1|11785|DS1|NPI|0000000000|1,DS1|11785,NaN,0000000000,2014-02-01,2014-04-09,0.0,2014-04-10,1 days
216,HIA|DS1|11785|DS1|NPI|1134564693|1,DS1|11785,1.639156e+09,1134564693,2013-12-23,2013-12-28,250.0,2013-12-28,0 days
219,HIA|DS1|11785|DS1|NPI|1710918545|1,DS1|11785,1.336112e+09,1710918545,2013-08-27,2013-12-23,250.0,2013-12-23,0 days
220,HIA|DS1|11785|DS1|NPI|1710918545|2,DS1|11785,1.811973e+09,1710918545,2013-12-28,2014-02-01,145.0,2014-02-01,0 days
221,HIA|DS1|11785|DS1|NPI|1710918545|3,DS1|11785,1.013921e+09,1710918545,2014-04-10,2014-04-12,0.0,2014-04-12,0 days
229,HIA|DS1|11891|DS1|NPI|1710918545|1,DS1|11891,1.861579e+09,1710918545,2011-02-25,2011-03-01,250.0,2011-03-03,2 days
237,HIA|DS1|11944|DS1|NPI|1548393127|1,DS1|11944,1.164656e+09,1548393127,2017-09-07,2017-09-16,195.0,2017-09-16,0 days
277,HIA|DS1|12364|DS1|NPI|1184722779|1,DS1|12364,1.831122e+09,1184722779,2017-08-02,2017-08-04,250.0,2017-08-30,26 days
279,HIA|DS1|12364|DS1|NPI|1184722779|3,DS1|12364,1.588649e+09,1184722779,2018-03-13,2018-03-18,55.0,2018-04-04,17 days
280,HIA|DS1|12364|DS1|NPI|1184722779|4,DS1|12364,1.588765e+09,1184722779,2018-04-04,2018-04-11,250.0,2018-05-02,21 days
282,HIA|DS1|12364|DS1|NPI|1528041811|1,DS1|12364,1.962412e+09,1528041811,2018-05-02,2018-05-12,0.0,2018-05-12,0 days
287,HIA|DS1|12422|DS1|NPI|1689772592|1,DS1|12422,1.801077e+09,1689772592,2013-07-05,2013-07-25,250.0,2013-08-04,10 days
288,HIA|DS1|12422|DS1|NPI|1689772592|10,DS1|12422,1.801077e+09,1689772592,2014-02-01,2014-02-05,250.0,2014-02-15,10 days
290,HIA|DS1|12422|DS1|NPI|1689772592|2,DS1|12422,1.548224e+09,1689772592,2013-08-04,2013-08-10,250.0,2013-09-08,29 days
291,HIA|DS1|12422|DS1|NPI|1689772592|3,DS1|12422,1.316198e+09,1689772592,2013-09-08,2013-09-27,250.0,2013-10-07,10 days
292,HIA|DS1|12422|DS1|NPI|1689772592|4,DS1|12422,1.316198e+09,1689772592,2013-10-07,2013-10-13,0.0,2013-10-21,8 days
293,HIA|DS1|12422|DS1|NPI|1689772592|5,DS1|12422,1.609830e+09,1689772592,2013-10-21,2013-10-29,55.0,2013-11-07,9 days
294,HIA|DS1|12422|DS1|NPI|1689772592|6,DS1|12422,1.316198e+09,1689772592,2013-11-07,2013-11-25,0.0,2013-12-05,10 days
295,HIA|DS1|12422|DS1|NPI|1689772592|7,DS1|12422,1.649347e+09,1689772592,2013-12-05,2013-12-24,0.0,2014-01-04,11 days
296,HIA|DS1|12422|DS1|NPI|1689772592|8,DS1|12422,1.447236e+09,1689772592,2014-01-04,2014-01-08,250.0,2014-01-18,10 days
297,HIA|DS1|12422|DS1|NPI|1689772592|9,DS1|12422,1.801077e+09,1689772592,2014-01-18,2014-01-22,250.0,2014-02-01,10 days
325,HIA|DS1|12651|DS1|NPI|1659439834|2,DS1|12651,1.316042e+09,1659439834,2011-07-29,2011-08-05,0.0,2011-08-12,7 days
327,HIA|DS1|12651|DS1|NPI|1740348929|1,DS1|12651,1.922002e+09,1740348929,2011-07-17,2011-07-29,250.0,2011-07-29,0 days
328,HIA|DS1|12651|DS1|NPI|1740348929|2,DS1|12651,1.316042e+09,1740348929,2011-11-25,2011-12-01,0.0,2011-12-05,4 days
357,HIA|DS1|12967|DS1|NPI|1427055839|1,DS1|12967,1.417062e+09,1427055839,2016-01-16,2016-01-24,250.0,2016-02-03,10 days
382,HIA|DS1|13183|DS1|NPI|1902803315|1,DS1|13183,1.427003e+09,1902803315,2014-01-16,2014-01-18,250.0,2014-01-20,2 days
388,HIA|DS1|13245|DS1|NPI|1689772592|1,DS1|13245,1.366605e+09,1689772592,2017-01-01,2017-01-03,195.0,2017-01-13,10 days
402,HIA|DS1|13365|DS1|NPI|1184722779|1,DS1|13365,NaN,1184722779,2012-04-27,2012-04-28,250.0,2012-05-03,5 days
412,HIA|DS1|13438|DS1|NPI|1154428688|1,DS1|13438,1.144302e+09,1154428688,2012-11-25,2012-11-27,250.0,2012-12-04,7 days

In [29]:
# Identify the records in the Re-admission DF
repeat_admissons = len(re_admits.index)
print('Repeat Admissions count is ',repeat_admissons)
# Identify the records in the admissions DF
total_hospitalizations = len(admissions1.index)
print('Total Admissions count is ',total_hospitalizations)
# To calculate the percentage
perc_readmission = round((repeat_admissons/total_hospitalizations) *100 , 3)
print('The percentage of Readmission in the last 30 days is ',perc_readmission)

Repeat Admissions count is  696
Total Admissions count is  6213
The percentage of Readmission in the last 30 days is  11.202

#### Problem 2. What percent of patients have a PCP visit within a week of discharge?

In [ ]:
# We will merge Re-admits data frame with pcp visit dataframe to determine the whether a patient visited their PCP.

#### 3. Do either vary by individual or group PCP's?

Problem 3 is pretty vaguely worded. I understand it as asking two questions:    
(a) Does the 30-day readmission rate vary by hospital (which is how I interpreted the word "individual" there)?    
(b) Does the 7-day PCP visit rate vary by PCP Provider Group?     
Is this how everyone else is approaching this problem?

##### A. Lets us review re-hospitalization by Hospital group

In [31]:
re_admits_facility = re_admits.groupby(by="Facility Provider NPI",as_index=False)['Encounter ID'].count()
re_admits_facility

   Facility Provider NPI  Encounter ID
0             0000000000            14
1             1013062769             1
2             1013906221             2
3             1023010113             1
4             1023065729             2
..                   ...           ...
84            1952546616             7
85            1962568337             1
86            1972541498             1
87            1992818256            10
88            EI11111111             1

[89 rows x 2 columns]

In [32]:
# We will use the admissions1 Dataframe (ALL PATIENTS THAT WENT TO THE HOSPITAL) to group it by Hospital NPI to see if we create a denominator for the above Re-admissions data
Facility_admits = admissions1.groupby(by='Facility Provider NPI',as_index=False)['Encounter ID'].count()
Facility_admits

    Facility Provider NPI  Encounter ID
0              0000000000           103
1              1003878539             1
2              1003961251             2
3              1003980350             1
4              1013062769             1
..                    ...           ...
215            EI26275047             2
216            EI26439240             1
217            EI95472322             1
218            EI95488125             3
219            SY15358485             2

[220 rows x 2 columns]

In [38]:
#We will now merge the facility admits ( to have denominator) to the re-admits-facility ( numerator)to calculate
#rate of the % re-admission by facility NPI over time.

rehospitalization = pd.merge(Facility_admits, re_admits_facility, how ='left',on='Facility Provider NPI',suffixes =('_hosp', '_readm'))
#Select only the Ecounter ID columns
rehospitalization = rehospitalization[['Facility Provider NPI','Encounter ID_readm','Encounter ID_hosp']]

#Calulate the RE-Hospitalization rate 
rehospitalization['Re_hospitalization_rate'] = round((rehospitalization['Encounter ID_readm'] / rehospitalization['Encounter ID_hosp'] * 100 ) ,2 )
# Sort the Re-hospitalization rate
rehospitalization = rehospitalization.sort_values(['Re_hospitalization_rate'], ascending=False)
rehospitalization

,Facility Provider NPI,Encounter ID_readm,Encounter ID_hosp,Re_hospitalization_rate
66,1275661829,1.0,1,100.0
20,1073665360,1.0,1,100.0
45,1184612764,1.0,1,100.0
80,1376513754,2.0,2,100.0
162,1801152566,1.0,1,100.0
...,...,...,...,...
215,EI26275047,NaN,2,NaN
216,EI26439240,NaN,1,NaN
217,EI95472322,NaN,1,NaN
218,EI95488125,NaN,3,NaN
219,SY15358485,NaN,2,NaN

In [39]:
# to identify Hospital that have > 10 encounters but also have a high admission rate. 

rehospitalization = rehospitalization[rehospitalization['Encounter ID_hosp'] >= 10].sort_values(['Re_hospitalization_rate'], ascending=False)
rehospitalization

,Facility Provider NPI,Encounter ID_readm,Encounter ID_hosp,Re_hospitalization_rate
199,1952546616,7.0,10,70.00
62,1265814065,4.0,11,36.36
74,1336328244,3.0,10,30.00
177,1841277704,3.0,11,27.27
156,1770532608,3.0,11,27.27
131,1639172372,4.0,20,20.00
97,1467459776,3.0,16,18.75
165,1811080526,4.0,22,18.18
16,1053351916,2.0,11,18.18
153,1740348929,2.0,12,16.67
9,1023065729,2.0,12,16.67
15,1043502750,2.0,12,16.67
40,1154428688,4.0,27,14.81
0,0000000000,14.0,103,13.59
91,1427055839,109.0,889,12.26
139,1689772592,83.0,679,12.22
210,1992818256,10.0,87,11.49
138,1689608150,39.0,340,11.47
146,1710918545,50.0,436,11.47
87,1407828429,1.0,10,10.00
43,1164609962,1.0,10,10.00
35,1124073366,1.0,10,10.00
46,1184722779,115.0,1196,9.62
12,1033298617,43.0,460,9.35
185,1902803315,101.0,1204,8.39
144,1710065933,9.0,109,8.26
186,1902844988,2.0,26,7.69
68,1306890389,1.0,16,6.25
34,1124026273,1.0,16,6.25
44,1174667158,NaN,21,NaN
158,1780668434,NaN,17,NaN

In [42]:
# check my work above
re_admits[re_admits['Facility Provider NPI'] == '1952546616']

,Encounter ID,Patient ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,Patient Paid Amount,next_adm,Days Between Readmission
438,HIA|DS1|13593|DS1|NPI|1952546616|1,DS1|13593,1.386652e+09,1952546616,2011-12-19,2011-12-22,250.00,2012-01-03,12 days
439,HIA|DS1|13593|DS1|NPI|1952546616|2,DS1|13593,1.386652e+09,1952546616,2012-01-03,2012-01-09,0.00,2012-01-26,17 days
440,HIA|DS1|13593|DS1|NPI|1952546616|3,DS1|13593,1.386652e+09,1952546616,2012-01-26,2012-02-09,250.00,2012-02-12,3 days
441,HIA|DS1|13593|DS1|NPI|1952546616|4,DS1|13593,1.386652e+09,1952546616,2012-02-12,2012-02-14,0.00,2012-02-22,8 days
442,HIA|DS1|13593|DS1|NPI|1952546616|5,DS1|13593,1.386652e+09,1952546616,2012-02-22,2012-03-11,209.61,2012-03-18,7 days
443,HIA|DS1|13593|DS1|NPI|1952546616|6,DS1|13593,1.386652e+09,1952546616,2012-03-18,2012-03-24,0.00,2012-04-17,24 days
444,HIA|DS1|13593|DS1|NPI|1952546616|7,DS1|13593,1.386652e+09,1952546616,2012-04-17,2012-05-06,0.00,2012-05-08,2 days