#### Import the necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### File open the CSV files and bring them in as their own Data Frames

In [2]:
#set low_memory=False
members =pd.read_csv('../data/NSS_GreatCare_Members.csv')
admissions =pd.read_csv('../data/NSS_Hospital_Inpatient_Admissions.csv')
pcp_visit =pd.read_csv('../data/NSS_PrimaryCare_Office_Visits.csv')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,5,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

#### Review the data frame to decide the way forward

In [3]:
print('\nMembers Data\n\n')
print(members.info())
print('\n\n------------------------------------------------------------------------------------------\n\n')
print('Admissions Data\n\n')
print(admissions.info())
print('\n\n------------------------------------------------------------------------------------------\n\n')
print('PCP Visit\n\n')
print(pcp_visit.info())

Members Data


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  object
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  object
 62  Period End Date                                                  61519 non-null  object
dtypes: float64(8), int64(45), object(10)
memory usage: 29.6+ MB
None


------------------------------------------------------------------------------------------


Admissions Data


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   object
 9   Encounter End Date                                   6213 non-null   object
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.1+ MB
None


------------------------------------------------------------------------------------------


PCP Visit

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  object
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 31.8+ MB
None

In [4]:
pcp_visit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  object
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 31.8+ MB

In [5]:
members.head(50)

,Patient ID,Primary Plan ID,Primary Payor ID,Is Patient Alive,Patient Age Integer,Patient Date of Birth,Patient ZIP Code 5-Digit,Count Primary Care Visits in Last 36 Months,Count Visits with Attributee Individual Primary Care Provider i,Count Visits with Attributee Primary Care Provider Group in Las,...,Is CCW Prostate Cancer,Is CCW Rheumatoid Arthritis or Osteoarthritis,Is CCW Stroke or Transient Ischemic Attack,Is CCW ASCVD,Is CCW Anxiety Disorders,Is CCW Depressive Disorders,Is CCW Schizophrenia or Other Psychotic Disorders,Is CCW Bipolar Disorder,Period Start Date,Period End Date
0,DS1|1,DS1|5047W,DS1|1,1,54,1958-11-08,92111.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-04-11 00:00:00+00
1,DS1|10,DS1|5047W,DS1|1,1,54,1958-12-10,90024.0,6,1.0,5.0,...,0,0,0,0,1,0,0,0,2012-12-10 00:00:00+00,2013-01-01 00:00:00+00
2,DS1|100,DS1|5047W,DS1|1,1,2,2012-08-04,90008.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2015-04-18 00:00:00+00,2015-05-18 00:00:00+00
3,DS1|1000,DS1|5047W,DS1|1,1,6,2003-12-25,94131.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-04-09 00:00:00+00
4,DS1|10000,DS1|5047W,DS1|1,1,7,2005-07-15,90301.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-08-01 00:00:00+00,2012-10-02 00:00:00+00
5,DS1|10001,DS1|5047X,DS1|1,1,40,1972-11-02,92111.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-01-30 00:00:00+00
6,DS1|10002,DS1|5047X,DS1|1,1,23,1988-02-04,90064.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-01-01 00:00:00+00,2012-02-04 00:00:00+00
7,DS1|10003,DS1|5047X,DS1|1,1,24,1991-10-17,91343.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2016-05-07 00:00:00+00,2016-10-17 00:00:00+00
8,DS1|10004,DS1|5047X,DS1|1,1,9,2003-08-12,91606.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-04-12 00:00:00+00
9,DS1|10005,DS1|5047Y,DS1|1,1,55,1957-09-28,94132.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-09-28 00:00:00+00
10,DS1|10006,DS1|5047W,DS1|1,1,24,1988-04-20,92882.0,2,2.0,2.0,...,0,0,0,0,0,0,0,0,2012-11-10 00:00:00+00,2012-11-17 00:00:00+00
11,DS1|10007,DS1|5047X,DS1|1,1,37,1976-05-11,90031.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-05-11 00:00:00+00
12,DS1|10008,DS1|5047X,DS1|1,1,30,1980-12-10,90034.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-09-28 00:00:00+00,2011-12-10 00:00:00+00
13,DS1|10009,DS1|5047X,DS1|1,1,12,1997-04-25,91406.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-04-02 00:00:00+00,2010-04-25 00:00:00+00
14,DS1|1001,DS1|5047X,DS1|1,1,43,1969-10-21,95616.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-02-01 00:00:00+00
15,DS1|10010,DS1|5047X,DS1|1,1,42,1970-06-19,94115.0,2,2.0,2.0,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-05-04 00:00:00+00
16,DS1|10011,DS1|5047Y,DS1|1,1,28,1985-05-18,90062.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-04-01 00:00:00+00,2014-05-18 00:00:00+00
17,DS1|10012,DS1|5047X,DS1|1,1,35,1975-11-04,94118.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-02-06 00:00:00+00
18,DS1|10013,DS1|5047X,DS1|1,1,19,1990-10-31,92116.0,2,2.0,2.0,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-03-01 00:00:00+00
19,DS1|10014,DS1|5047W,DS1|1,1,11,1998-04-08,90045.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-04-08 00:00:00+00
20,DS1|10015,DS1|5047Z,DS1|1,1,27,1983-03-15,94116.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-03-15 00:00:00+00
21,DS1|10016,DS1|5047W,DS1|1,1,42,1969-09-17,95628.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-01-01 00:00:00+00,2012-09-17 00:00:00+00
22,DS1|10017,DS1|5047W,DS1|1,1,3,2006-01-25,92130.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-01-25 00:00:00+00
23,DS1|10018,DS1|5047W,DS1|1,1,1,2008-11-14,94116.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-01-18 00:00:00+00
24,DS1|10019,DS1|5047X,DS1|1,1,1,2013-01-01,90034.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-01-04 00:00:00+00
25,DS1|1002,DS1|5047X,DS1|1,1,29,1984-08-21,95619.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-01-14 00:00:00+00
26,DS1|10020,DS1|5047W,DS1|1,1,46,1965-08-04,92127.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-04-05 00:00:00+00,2012-08-04 00:00:00+00
27,DS1|10021,DS1|5047X,DS1|1,1,39,1973-03-20,90292.0,10,2.0,10.0,...,0,0,0,0,0,0,0,0,2012-07-01 00:00:00+00,2012-07-10 00:00:00+00
28,DS1|10022,DS1|5047X,DS1|1,1,4,2007-07-01,90602.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2011-11-01 00:00:00+00,2011-11-25 00:00:00+00
29,DS1|10023,DS1|5047W,DS1|1,1,33,1977-05-09,92122.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-05-09 00:00:00+00
30,DS1|10024,DS1|5047W,DS1|1,1,42,1969-01-19,90272.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-01-01 00:00:00+00,2012-01-19 00:00:00+00
31,DS1|10025,DS1|5047X,DS1|1,1,40,1974-07-23,91354.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2015-06-29 00:00:00+00,2015-06-30 00:00:00+00
32,DS1|10026,DS1|5047W,DS1|1,1,41,1972-06-24,92705.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-02-28 00:00:00+00
33,DS1|10027,DS1|5047W,DS1|1,1,28,1985-09-02,95618.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-09-02 00:00:00+00
34,DS1|10028,DS1|5047X,DS1|1,1,4,2009-05-03,92037.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-05-03 00:00:00+00
35,DS1|10029,DS1|5047X,DS1|1,1,3,2010-02-22,94561.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-08 00:00:00+00,2014-02-22 00:00:00+00
36,DS1|1003,DS1|5047W,DS1|1,1,59,1954-02-11,92114.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-01-31 00:00:00+00
37,DS1|10030,DS1|5047W,DS1|1,1,15,1995-05-05,92780.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-04-27 00:00:00+00,2011-05-05 00:00:00+00
38,DS1|10031,DS1|5047Z,DS1|1,1,30,1979-08-08,95747.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-03-20 00:00:00+00
39,DS1|10032,DS1|5047X,DS1|1,1,10,2008-03-09,94132.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2018-03-09 00:00:00+00,2019-03-09 00:00:00+00
40,DS1|10033,DS1|5047X,DS1|1,1,1,2012-11-09,94123.0,2,2.0,2.0,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-02-16 00:00:00+00
41,DS1|10034,DS1|5047X,DS1|1,1,58,1954-10-31,95630.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-02-22 00:00:00+00
42,DS1|10035,DS1|5047X,DS1|1,1,26,1983-10-24,95258.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-05-27 00:00:00+00
43,DS1|10036,DS1|5047W,DS1|1,1,69,1943-10-08,94116.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-04-05 00:00:00+00
44,DS1|10037,DS1|5047W,DS1|1,1,50,1961-06-05,90254.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-10-31 00:00:00+00,2011-11-05 00:00:00+00
45,DS1|10038,DS1|5047W,DS1|1,1,0,2011-10-02,92107.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-01-01 00:00:00+00,2012-01-25 00:00:00+00
46,DS1|10039,DS1|5047X,DS1|1,1,16,1997-08-28,95819.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-04-22 00:00:00+00
47,DS1|1004,DS1|5047W,DS1|1,1,41,1969-03-02,92019.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-03-02 00:00:00+00
48,DS1|10040,DS1|5047W,DS1|1,1,84,1929-09-01,95616.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-09-01 00:00:00+00
49,DS1|10041,DS1|5047X,DS1|1,1,9,2001-08-14,95618.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-07-01 00:00:00+00

#### Clean up data fields  - Getting the House in Order

In [6]:
# Change Object data type to Dates
members['Period Start Date'] = pd.to_datetime(members['Period Start Date'], format='%Y-%m-%d')
members['Period End Date'] = pd.to_datetime(members['Period End Date'], format='%Y-%m-%d')
members['Patient Date of Birth'] = pd.to_datetime(members['Patient Date of Birth'], format='%Y-%m-%d')
# Drop the Zeros on the Zip and fill in the blank and convert to the string
members['Patient ZIP Code 5-Digit'] = members['Patient ZIP Code 5-Digit'].fillna("0").astype(int).astype(str)
# Add an additional field of 30days after the end date.
#members['days_30'] = members['Period End Date']+ pd.DateOffset(days=30)
# Change Object data type to Dates
admissions['Encounter Start Date'] = pd.to_datetime(admissions['Encounter Start Date'], format='%Y-%m-%d')
admissions['Encounter End Date'] = pd.to_datetime(admissions['Encounter End Date'], format='%Y-%m-%d')
pcp_visit['Encounter Date'] = pd.to_datetime(pcp_visit['Encounter Date'], format='%Y-%m-%d')

In [7]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  datetime64[ns]
 6   Patient ZIP Code 5-Digit                                         61519 non-null  object
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  datetime64[ns, UTC]
 62  Period End Date                                                  61519 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), datetime64[ns](1), float64(7), int64(45), object(8)
memory usage: 29.6+ MB

In [8]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   datetime64[ns]
 9   Encounter End Date                                   6213 non-null   datetime64[ns]
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(4), object(12)
memory usage: 1.1+ MB

### Problem 1: 30-day Readmission Rate

### What is our 30-day all cause readmission rate across hospitals our members are admitted to?

In [9]:

# #count how many visits each patient has had up to and including current visit
# admissions['patient_adm_ct'] = admissions.groupby('Patient ID')['Encounter End Date'].transform('count')
# admissions

In [10]:
# #Find the duplicated patient id
# re_admits = admissions[admissions.duplicated('Patient ID')]
# re_admits

In [11]:
#Identify the Previous Encounter End date to the current row where patient ID matches
admissions1 = admissions
admissions1['prev_adm']=admissions1.sort_values(by=['Encounter Start Date'],ascending=True).groupby(['Patient ID'])['Encounter End Date'].shift(1)
admissions1

,Encounter ID,Patient ID,Encounter Primary Payor ID,Encounter Primary Plan ID,Facility Provider ID,Attending Provider ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,...,CMS Patient Discharge Status Code,CMS Place of Service Code,Principal Discharge Diagnosis ICD-9-CM Code,Principal Discharge Diagnosis ICD-9-CM Description,Principal Discharge Diagnosis ICD-10-CM Code,Principal Discharge Diagnosis ICD-10-CM Description,Primary Plan Allowed Amount,Primary Plan Paid Amount,Patient Paid Amount,prev_adm
0,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,DS1|1,DS1|5047W,DS1|NPI|1306890389,DS1|NPI|1417170523,1.417171e+09,1306890389,2013-01-12,2013-01-14,...,1,21.0,NaN,NaN,O70.0,First degree perineal laceration during delivery,0,6620.72,250.0,NaT
1,HIA|DS1|10043|DS1|NPI|1902803315|1,DS1|10043,DS1|1,DS1|5047Y,DS1|NPI|1902803315,DS1|NPI|1669599197,1.669599e+09,1902803315,2014-01-05,2014-01-12,...,1,21.0,348.4,Compression of brain,NaN,NaN,0,46465.40,250.0,NaT
2,HIA|DS1|10073|DS1|NPI|1902803315|1,DS1|10073,DS1|1,DS1|5047X,DS1|NPI|1902803315,DS1|NPI|1407880511,1.407881e+09,1902803315,2012-06-13,2012-06-21,...,1,21.0,NaN,NaN,K91.71,Accidental puncture and laceration of a digest...,0,43879.13,250.0,NaT
3,HIA|DS1|10101|DS1|NPI|1427055839|1,DS1|10101,DS1|1,DS1|5047W,DS1|NPI|1427055839,DS1|NPI|1407008907,1.407009e+09,1427055839,2012-12-06,2012-12-09,...,1,21.0,NaN,NaN,O70.1,Second degree perineal laceration during delivery,0,14800.00,250.0,NaT
4,HIA|DS1|10118|DS1|NPI|1992818256|1,DS1|10118,DS1|1,DS1|5047W,DS1|NPI|1992818256,DS1|NPI|1518045608,1.518046e+09,1992818256,2015-03-11,2015-03-14,...,1,NaN,NaN,NaN,F32.9,"Major depressive disorder, single episode, uns...",0,0.00,0.0,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6208,HIA|DS1|9979|DS1|NPI|1689772592|1,DS1|9979,DS1|1,DS1|5047X,DS1|NPI|1689772592,DS1|NPI|1720043417,1.720043e+09,1689772592,2015-02-06,2015-02-11,...,6,21.0,NaN,NaN,O44.13,"Complete placenta previa with hemorrhage, thir...",0,23598.00,250.0,NaT
6209,HIA|DS1|9981|DS1|NPI|1427055839|1,DS1|9981,DS1|1,DS1|5047W,DS1|NPI|1427055839,DS1|NPI|1215968474,1.215968e+09,1427055839,2014-08-07,2014-08-10,...,1,21.0,664.11,"Second-degree perineal laceration, delivered, ...",NaN,NaN,0,14800.00,250.0,NaT
6210,HIA|DS1|9994|DS1|NPI|1689608150|1,DS1|9994,DS1|1,DS1|5047W,DS1|NPI|1689608150,DS1|NPI|1861831836,1.861832e+09,1689608150,2015-11-21,2015-11-23,...,1,21.0,NaN,NaN,O76,Abnormality in fetal heart rate and rhythm com...,0,17919.75,250.0,NaT
6211,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,DS1|1,DS1|5047W,DS1|NPI|1689608150,DS1|NPI|1750544516,1.750545e+09,1689608150,2015-11-24,2015-11-27,...,1,21.0,NaN,NaN,O42.92,"Full-term premature rupture of membranes, unsp...",0,19919.42,250.0,2015-11-23
6212,HIA|DS1|9996|DS1|NPI|1033298617|1,DS1|9996,DS1|1,DS1|5047X,DS1|NPI|1033298617,DS1|NPI|1518045608,1.518046e+09,1033298617,2010-03-28,2010-03-31,...,1,NaN,NaN,NaN,O86.12,Endometritis following delivery,0,0.00,0.0,NaT

In [ ]:
# #Identify the Previous Encounter End date to the current row where patient ID matches in the filtered dataframe of duplicated patient ID

# re_admits['prev_adm']=re_admits.sort_values(by=['Encounter Start Date'],ascending=True).groupby(['Patient ID'])['Encounter End Date'].shift(1)
# re_admits.head(100)

#### Now that we have the Previous Encounter End Date added to the Current Encounter Start date row.    We can Calculate the number of days between the two visits

In [12]:
# Find the number of days the patient has between last encounter end date and the next encounter start date
admissions1['days_bw_readmisson'] = admissions['Encounter Start Date'] - admissions['prev_adm']
admissions1

,Encounter ID,Patient ID,Encounter Primary Payor ID,Encounter Primary Plan ID,Facility Provider ID,Attending Provider ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,...,CMS Place of Service Code,Principal Discharge Diagnosis ICD-9-CM Code,Principal Discharge Diagnosis ICD-9-CM Description,Principal Discharge Diagnosis ICD-10-CM Code,Principal Discharge Diagnosis ICD-10-CM Description,Primary Plan Allowed Amount,Primary Plan Paid Amount,Patient Paid Amount,prev_adm,days_bw_readmisson
0,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,DS1|1,DS1|5047W,DS1|NPI|1306890389,DS1|NPI|1417170523,1.417171e+09,1306890389,2013-01-12,2013-01-14,...,21.0,NaN,NaN,O70.0,First degree perineal laceration during delivery,0,6620.72,250.0,NaT,NaT
1,HIA|DS1|10043|DS1|NPI|1902803315|1,DS1|10043,DS1|1,DS1|5047Y,DS1|NPI|1902803315,DS1|NPI|1669599197,1.669599e+09,1902803315,2014-01-05,2014-01-12,...,21.0,348.4,Compression of brain,NaN,NaN,0,46465.40,250.0,NaT,NaT
2,HIA|DS1|10073|DS1|NPI|1902803315|1,DS1|10073,DS1|1,DS1|5047X,DS1|NPI|1902803315,DS1|NPI|1407880511,1.407881e+09,1902803315,2012-06-13,2012-06-21,...,21.0,NaN,NaN,K91.71,Accidental puncture and laceration of a digest...,0,43879.13,250.0,NaT,NaT
3,HIA|DS1|10101|DS1|NPI|1427055839|1,DS1|10101,DS1|1,DS1|5047W,DS1|NPI|1427055839,DS1|NPI|1407008907,1.407009e+09,1427055839,2012-12-06,2012-12-09,...,21.0,NaN,NaN,O70.1,Second degree perineal laceration during delivery,0,14800.00,250.0,NaT,NaT
4,HIA|DS1|10118|DS1|NPI|1992818256|1,DS1|10118,DS1|1,DS1|5047W,DS1|NPI|1992818256,DS1|NPI|1518045608,1.518046e+09,1992818256,2015-03-11,2015-03-14,...,NaN,NaN,NaN,F32.9,"Major depressive disorder, single episode, uns...",0,0.00,0.0,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6208,HIA|DS1|9979|DS1|NPI|1689772592|1,DS1|9979,DS1|1,DS1|5047X,DS1|NPI|1689772592,DS1|NPI|1720043417,1.720043e+09,1689772592,2015-02-06,2015-02-11,...,21.0,NaN,NaN,O44.13,"Complete placenta previa with hemorrhage, thir...",0,23598.00,250.0,NaT,NaT
6209,HIA|DS1|9981|DS1|NPI|1427055839|1,DS1|9981,DS1|1,DS1|5047W,DS1|NPI|1427055839,DS1|NPI|1215968474,1.215968e+09,1427055839,2014-08-07,2014-08-10,...,21.0,664.11,"Second-degree perineal laceration, delivered, ...",NaN,NaN,0,14800.00,250.0,NaT,NaT
6210,HIA|DS1|9994|DS1|NPI|1689608150|1,DS1|9994,DS1|1,DS1|5047W,DS1|NPI|1689608150,DS1|NPI|1861831836,1.861832e+09,1689608150,2015-11-21,2015-11-23,...,21.0,NaN,NaN,O76,Abnormality in fetal heart rate and rhythm com...,0,17919.75,250.0,NaT,NaT
6211,HIA|DS1|9994|DS1|NPI|1689608150|2,DS1|9994,DS1|1,DS1|5047W,DS1|NPI|1689608150,DS1|NPI|1750544516,1.750545e+09,1689608150,2015-11-24,2015-11-27,...,21.0,NaN,NaN,O42.92,"Full-term premature rupture of membranes, unsp...",0,19919.42,250.0,2015-11-23,1 days
6212,HIA|DS1|9996|DS1|NPI|1033298617|1,DS1|9996,DS1|1,DS1|5047X,DS1|NPI|1033298617,DS1|NPI|1518045608,1.518046e+09,1033298617,2010-03-28,2010-03-31,...,NaN,NaN,NaN,O86.12,Endometritis following delivery,0,0.00,0.0,NaT,NaT

In [13]:
# find the records that are 0 - 30 days.
re_admissions = admissions1[(admissions1['days_bw_readmisson'] <= dt.timedelta(days = 30)) & (admissions1['days_bw_readmisson'] >= dt.timedelta(days = 0)) ]
# The below line doesn't work because it add the negative days
#re_admissions = admissions1[admissions1['days_bw_readmisson'] <= dt.timedelta(days = 30) ]
re_admissions.head(70)

,Encounter ID,Patient ID,Encounter Primary Payor ID,Encounter Primary Plan ID,Facility Provider ID,Attending Provider ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,...,CMS Place of Service Code,Principal Discharge Diagnosis ICD-9-CM Code,Principal Discharge Diagnosis ICD-9-CM Description,Principal Discharge Diagnosis ICD-10-CM Code,Principal Discharge Diagnosis ICD-10-CM Description,Primary Plan Allowed Amount,Primary Plan Paid Amount,Patient Paid Amount,prev_adm,days_bw_readmisson
37,HIA|DS1|10451|DS1|NPI|1427055839|1,DS1|10451,DS1|1,DS1|5047X,DS1|NPI|1427055839,DS1|NPI|1427344951,1.427345e+09,1427055839,2013-04-16,2013-04-26,...,21.0,571.2,Alcoholic cirrhosis of liver,NaN,NaN,0,54450.00,50.00,2013-04-16,0 days
38,HIA|DS1|10451|DS1|NPI|1427055839|2,DS1|10451,DS1|1,DS1|5047X,DS1|NPI|1427055839,DS1|NPI|1073566931,1.073567e+09,1427055839,2013-05-01,2013-05-09,...,23.0,571.2,Alcoholic cirrhosis of liver,NaN,NaN,0,51700.00,0.00,2013-04-26,5 days
40,HIA|DS1|10451|DS1|NPI|1427055839|4,DS1|10451,DS1|1,DS1|5047X,DS1|NPI|1427055839,DS1|NPI|1679541775,1.679542e+09,1427055839,2013-07-26,2013-08-03,...,21.0,571.2,Alcoholic cirrhosis of liver,NaN,NaN,0,59395.00,0.00,2013-07-01,25 days
41,HIA|DS1|10451|DS1|NPI|1427055839|5,DS1|10451,DS1|1,DS1|5047X,DS1|NPI|1427055839,DS1|NPI|1215189550,1.215190e+09,1427055839,2013-08-31,2013-09-02,...,21.0,571.2,Alcoholic cirrhosis of liver,NaN,NaN,0,27653.05,0.00,2013-08-03,28 days
43,HIA|DS1|10451|DS1|NPI|1427055839|7,DS1|10451,DS1|1,DS1|5047X,DS1|NPI|1427055839,DS1|NPI|1053358127,1.053358e+09,1427055839,2013-12-17,2013-12-19,...,21.0,NaN,NaN,R55,Syncope and collapse,0,10650.00,250.00,2013-11-20,27 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,HIA|DS1|14298|DS1|NPI|1902803315|3,DS1|14298,DS1|1,DS1|5047X,DS1|NPI|1902803315,DS1|NPI|1275788440,1.275788e+09,1902803315,2014-04-08,2014-04-16,...,21.0,277.39,Other amyloidosis,NaN,NaN,0,51655.00,45.00,2014-03-15,24 days
534,HIA|DS1|14435|DS1|NPI|1427055839|4,DS1|14435,DS1|1,DS1|5047W,DS1|NPI|1427055839,DS1|NPI|1164614970,1.164615e+09,1427055839,2016-03-11,2016-03-14,...,21.0,NaN,NaN,L03.116,Cellulitis of left lower limb,0,16100.00,250.00,2016-03-08,3 days
547,HIA|DS1|14575|DS1|NPI|1427055839|3,DS1|14575,DS1|1,DS1|5047X,DS1|NPI|1427055839,DS1|NPI|1992932388,1.992932e+09,1427055839,2013-07-31,2013-08-01,...,21.0,NaN,NaN,P59.9,"Neonatal jaundice, unspecified",0,3930.00,250.00,2013-07-30,1 days
588,HIA|DS1|15058|DS1|NPI|1427055839|2,DS1|15058,DS1|1,DS1|5047X,DS1|NPI|1427055839,DS1|NPI|1053358127,1.053358e+09,1427055839,2013-05-15,2013-06-03,...,21.0,486.7,NaN,NaN,NaN,0,132302.34,250.00,2013-05-14,1 days
589,HIA|DS1|15058|DS1|NPI|1427055839|3,DS1|15058,DS1|1,DS1|5047X,DS1|NPI|1427055839,DS1|NPI|1447337654,1.447338e+09,1427055839,2013-06-06,2013-06-13,...,21.0,428.33,Acute on chronic diastolic heart failure,NaN,NaN,0,46046.68,203.32,2013-06-03,3 days

In [14]:
# Identify the records in the Re-admission DF
repeat_admissons = len(re_admissions.index)
print('Repeat Admissions count is ',repeat_admissons)
# Identify the records in the admissions DF
total_hospitalizations = len(admissions.index)
print('Total Admissions count is ',total_hospitalizations)
# To calculate the percentage
perc_readmission = (repeat_admissons/total_hospitalizations) *100
print('The percentage of Readmission in the last 30 days is ',perc_readmission)

Repeat Admissions count is  696
Total Admissions count is  6213
The percentage of Readmission in the last 30 days is  11.202317720907775

### Problem 2.    What percent of patients have a PCP visit within a week of discharge?

In [ ]:
# We will merge admission data frame with pcp visit dataframe to determine the whether a patient visited their PCP.
#pcp_visit.head()
# reduce columns that are required
pcp2= pcp_visit[['Encounter ID','Patient ID','Service Provider ID','Provider Group Provider ID','Provider Group NPI','Attending Provider NPI','Encounter Date']]
pcp2

In [ ]:
# We will merge with admission1_df that has all the date calculations and change the 
#column of their Encounter date to H_Encounter date so we can 
#differentiate hospital encounter date with pcp encounter date. 
# Joshua's update to the suffix helps me identify columns in source table after a merger
a_plus_p = pd.merge(admissions,pcp2, how='left', on='Patient ID',suffixes =('_adm', '_pcp') )
a_plus_p

In [ ]:
#Create a column to find out where HospitalEncounter End Date - PCP Encounter date is within 7 days (will have negatives)

a_plus_p['Hospital to PCP Days'] = a_plus_p['Encounter Date'] - a_plus_p['Encounter End Date']
#a_plus_p.info()

# data has negative days in Hospital to PCP Days
a_plus_p

In [ ]:
# filter the date to within 0 -7 days
pcp_after_hospitalization = a_plus_p[(a_plus_p['Hospital to PCP Days'] >= dt.timedelta(days = 0)) 
                                     & (a_plus_p['Hospital to PCP Days'] <= dt.timedelta(days = 7))]
pcp_after_hospitalization
#2375 Patient visits

In [ ]:
# There are several patients that see thier PCP several times a year. Therefore, those duplicates have to be removed
# Along with thier Encounter End Date  since we utilize that column for our further calculations

pcp_after_hospitalization=pcp_after_hospitalization.drop_duplicates(subset=['Patient ID','Encounter End Date'],keep='first')

In [ ]:
oneweek_pcp = len(pcp_after_hospitalization)
print('No. of Patients visit a PCP ',oneweek_pcp)
total_hospitalizations = len(admissions.index)
print('Total Admissions count is ',total_hospitalizations)
pcp_perc = round((oneweek_pcp/total_hospitalizations)*100,2)
print('% of Patients had a PCP visit within a week of discharge ', pcp_perc)

### 3. Do either vary by individual or group PCP's?

####  it's meaning an individual doctor or hospital group

#### A. Lets us review re-hospitalization by Hospital group

In [15]:
# We will use the Re-admissions Dataframe to group it by Hospital NPI to see if we can explore any new analysis
re_admissions.head()
re_admits_facility = re_admissions.groupby(by="Facility Provider NPI",as_index=False)['Encounter ID'].count()
re_admits_facility

   Facility Provider NPI  Encounter ID
0             0000000000            14
1             1013906221             1
2             1023065729             2
3             1033298617            43
4             1063441293             1
..                   ...           ...
57            1902844988             2
58            1942269725             1
59            1952546616             6
60            1972541498             2
61            1992818256            12

[62 rows x 2 columns]

In [16]:
re_admits_facility = re_admits_facility.sort_values('Encounter ID', ascending=False)
re_admits_facility

   Facility Provider NPI  Encounter ID
29            1427055839           116
14            1184722779           111
56            1902803315            97
42            1689772592            82
46            1710918545            47
..                   ...           ...
30            1447335146             1
1             1013906221             1
32            1457347239             1
34            1497705834             1
31            1457321317             1

[62 rows x 2 columns]

In [17]:
# We will use the admissions1 Dataframe (ALL PATIENTS THAT WENT TO THE HOSPITAL) to group it by Hospital NPI to see if we create a denominator for the above Re-admissions data
Facility_admits = admissions1.groupby(by='Facility Provider NPI',as_index=False)['Encounter ID'].count()
Facility_admits

    Facility Provider NPI  Encounter ID
0              0000000000           103
1              1003878539             1
2              1003961251             2
3              1003980350             1
4              1013062769             1
..                    ...           ...
215            EI26275047             2
216            EI26439240             1
217            EI95472322             1
218            EI95488125             3
219            SY15358485             2

[220 rows x 2 columns]

In [18]:
#We will now merge the facility admits ( to have denominator) to the re-admits-facility ( numerator)to calculate
#rate of the % re-admission by facility NPI over time.

rehospitalization = pd.merge(re_admits_facility,Facility_admits, how ='right',on='Facility Provider NPI',suffixes =('_readm', '_hosp'))
#Select only the Ecounter ID columns
#rehospitalization = rehospitalization[['Facility Provider NPI','Encounter ID_readm','Encounter ID_hosp']]

#Calulate the RE-Hospitalization rate 
rehospitalization['Re_hospitalization_rate'] = round(rehospitalization['Encounter ID_readm'] / rehospitalization['Encounter ID_hosp'] * 100  ,2 )
# Sort the Re-hospitalization rate
rehospitalization = rehospitalization.sort_values(['Re_hospitalization_rate'], ascending=False)
rehospitalization.head(50)

,Facility Provider NPI,Encounter ID_readm,Encounter ID_hosp,Re_hospitalization_rate
142,1700804200,8.0,8,100.00
95,1457347239,1.0,1,100.00
130,1639172133,4.0,4,100.00
93,1447335146,1.0,1,100.00
18,1063441293,1.0,1,100.00
82,1376698043,1.0,1,100.00
77,1366401333,6.0,6,100.00
127,1619289998,1.0,1,100.00
38,1134564693,3.0,3,100.00
75,1356307581,1.0,1,100.00
140,1689984668,1.0,1,100.00
62,1265814065,10.0,11,90.91
32,1114901352,6.0,8,75.00
199,1952546616,6.0,10,60.00
61,1265468946,1.0,2,50.00
148,1720371065,1.0,2,50.00
108,1497705834,1.0,2,50.00
33,1114971660,1.0,2,50.00
205,1972541498,2.0,5,40.00
58,1245221050,1.0,3,33.33
59,1245371343,1.0,3,33.33
151,1740215219,1.0,3,33.33
159,1780708362,1.0,3,33.33
181,1871543215,1.0,3,33.33
120,1578529285,1.0,3,33.33
19,1063495190,1.0,3,33.33
113,1528041811,1.0,3,33.33
74,1336328244,3.0,10,30.00
97,1467459776,4.0,16,25.00
195,1942269725,1.0,4,25.00
36,1124098421,1.0,4,25.00
131,1639172372,5.0,20,25.00
144,1710065933,23.0,109,21.10
150,1730238007,1.0,5,20.00
57,1235253816,1.0,5,20.00
133,1659439834,1.0,5,20.00
44,1174667158,4.0,21,19.05
156,1770532608,2.0,11,18.18
168,1811946734,1.0,6,16.67
9,1023065729,2.0,12,16.67
94,1457321317,1.0,6,16.67
84,1396725677,1.0,7,14.29
210,1992818256,12.0,87,13.79
165,1811080526,3.0,22,13.64
0,0000000000,14.0,103,13.59
91,1427055839,116.0,889,13.05
138,1689608150,43.0,340,12.65
88,1407839921,1.0,8,12.50
139,1689772592,82.0,679,12.08
89,1417089350,1.0,9,11.11

In [19]:
# to identify Hospital that have > 10 encounters but also have a high admission rate. 

rehospitalization = rehospitalization[rehospitalization['Encounter ID_hosp'] >= 10].sort_values(['Re_hospitalization_rate'], ascending=False)
rehospitalization

#top10_rehospitalization = rehospitalization.nlargest(10, 'Re_hospitalization_rate')
#top10_rehospitalization

,Facility Provider NPI,Encounter ID_readm,Encounter ID_hosp,Re_hospitalization_rate
62,1265814065,10.0,11,90.91
199,1952546616,6.0,10,60.00
74,1336328244,3.0,10,30.00
97,1467459776,4.0,16,25.00
131,1639172372,5.0,20,25.00
144,1710065933,23.0,109,21.10
44,1174667158,4.0,21,19.05
156,1770532608,2.0,11,18.18
9,1023065729,2.0,12,16.67
210,1992818256,12.0,87,13.79
165,1811080526,3.0,22,13.64
0,0000000000,14.0,103,13.59
91,1427055839,116.0,889,13.05
138,1689608150,43.0,340,12.65
139,1689772592,82.0,679,12.08
40,1154428688,3.0,27,11.11
146,1710918545,47.0,436,10.78
87,1407828429,1.0,10,10.00
43,1164609962,1.0,10,10.00
12,1033298617,43.0,460,9.35
46,1184722779,111.0,1196,9.28
185,1902803315,97.0,1204,8.06
186,1902844988,2.0,26,7.69
34,1124026273,1.0,16,6.25
68,1306890389,1.0,16,6.25
158,1780668434,1.0,17,5.88
15,1043502750,NaN,12,NaN
16,1053351916,NaN,11,NaN
35,1124073366,NaN,10,NaN
153,1740348929,NaN,12,NaN
177,1841277704,NaN,11,NaN

In [20]:
re_admissions[re_admissions['Facility Provider NPI'] == '1265814065']

,Encounter ID,Patient ID,Encounter Primary Payor ID,Encounter Primary Plan ID,Facility Provider ID,Attending Provider ID,Attending Provider NPI,Facility Provider NPI,Encounter Start Date,Encounter End Date,...,CMS Place of Service Code,Principal Discharge Diagnosis ICD-9-CM Code,Principal Discharge Diagnosis ICD-9-CM Description,Principal Discharge Diagnosis ICD-10-CM Code,Principal Discharge Diagnosis ICD-10-CM Description,Primary Plan Allowed Amount,Primary Plan Paid Amount,Patient Paid Amount,prev_adm,days_bw_readmisson
671,HIA|DS1|15773|DS1|NPI|1265814065|1,DS1|15773,DS1|1,DS1|5047Y,DS1|NPI|1265814065,DS1|NPI|1396005849,1.396006e+09,1265814065,2013-12-10,2013-12-13,...,61.0,NaN,NaN,G61.0,Guillain-Barre syndrome,0,14950.00,250.00,2013-12-10,0 days
688,HIA|DS1|15935|DS1|NPI|1265814065|1,DS1|15935,DS1|1,DS1|5047W,DS1|NPI|1265814065,DS1|NPI|1104960517,1.104961e+09,1265814065,2016-02-01,2016-02-07,...,21.0,NaN,NaN,G35,Multiple sclerosis,0,22550.00,250.00,2016-02-01,0 days
754,HIA|DS1|16409|DS1|NPI|1265814065|1,DS1|16409,DS1|1,DS1|5047W,DS1|NPI|1265814065,DS1|NPI|1609081447,1.609081e+09,1265814065,2012-07-23,2012-07-24,...,21.0,NaN,NaN,I63.50,Cerebral infarction due to unspecified occlusi...,0,4300.76,0.00,2012-07-23,0 days
755,HIA|DS1|16409|DS1|NPI|1265814065|2,DS1|16409,DS1|1,DS1|5047W,DS1|NPI|1265814065,DS1|NPI|1609081447,1.609081e+09,1265814065,2012-07-28,2012-08-04,...,21.0,NaN,NaN,I63.50,Cerebral infarction due to unspecified occlusi...,0,26600.00,0.00,2012-07-28,0 days
1206,HIA|DS1|2049|DS1|NPI|1265814065|1,DS1|2049,DS1|1,DS1|5047W,DS1|NPI|1265814065,DS1|NPI|1104960517,1.104961e+09,1265814065,2012-07-09,2012-07-17,...,21.0,NaN,NaN,C79.31,Secondary malignant neoplasm of brain,0,30294.60,172.27,2012-07-09,0 days
2322,HIA|DS1|30393|DS1|NPI|1265814065|1,DS1|30393,DS1|1,DS1|5047X,DS1|NPI|1265814065,DS1|NPI|1407293913,1.407294e+09,1265814065,2015-07-28,2015-09-08,...,22.0,NaN,NaN,I61.8,Other nontraumatic intracerebral hemorrhage,0,161615.98,0.00,2015-07-28,0 days
2323,HIA|DS1|30393|DS1|NPI|1265814065|2,DS1|30393,DS1|1,DS1|5047X,DS1|NPI|1265814065,DS1|NPI|1790917086,1.790917e+09,1265814065,2015-09-14,2015-09-29,...,21.0,NaN,NaN,I61.8,Other nontraumatic intracerebral hemorrhage,0,57000.00,0.00,2015-09-14,0 days
2835,HIA|DS1|35012|DS1|NPI|1265814065|1,DS1|35012,DS1|1,DS1|5047W,DS1|NPI|1265814065,DS1|NPI|1295094134,1.295094e+09,1265814065,2012-02-15,2012-02-23,...,61.0,NaN,NaN,S83.094A,"Other dislocation of right patella, initial en...",0,30150.00,250.00,2012-02-15,0 days
2918,HIA|DS1|3572|DS1|NPI|1265814065|1,DS1|3572,DS1|1,DS1|5047W,DS1|NPI|1265814065,DS1|NPI|1609081447,1.609081e+09,1265814065,2013-05-01,2013-05-07,...,21.0,NaN,NaN,I61.2,Nontraumatic intracerebral hemorrhage in hemis...,0,22691.75,115.00,2013-05-01,0 days
4811,HIA|DS1|52751|DS1|NPI|1265814065|1,DS1|52751,DS1|1,DS1|5047Z,DS1|NPI|1265814065,DS1|NPI|1396005849,1.396006e+09,1265814065,2015-06-18,2015-07-01,...,22.0,NaN,NaN,S06.5X9A,Traumatic subdural hemorrhage with loss of con...,0,49400.00,0.00,2015-05-27,22 days

#### B. Lets Review Re-Hospitalization by Attending Provider

In [ ]:
# We will use the Re-admissions Dataframe to group it by Attending Provider NPI to see if we can explore any new analysis

re_admits_attending_NPI = re_admissions.groupby(by="Attending Provider NPI", as_index=False)['Encounter ID'].count()
re_admits_attending_NPI

In [ ]:
# Sort by the number of Encounters by Attending Provider in the Re-admission Data Frame
re_admits_attending_NPI = re_admits_attending_NPI.sort_values('Encounter ID', ascending=False)
re_admits_attending_NPI

In [ ]:
# We will use the admissions1 Dataframe (ALL PATIENTS THAT WENT TO THE HOSPITAL) to group it by Attending Provider NPI
# to see if we create a denominator for the above Re-admissions data
Facility_admits2 = admissions1.groupby(by='Attending Provider NPI',as_index=False)['Encounter ID'].count()
Facility_admits2

In [ ]:
#We will now merge the facility admits2 ( to have denominator) to the re_admits_attending_NPI ( numerator)to calculate
#rate of the % re-admission by Attending Provider NPI.

rehospitalization2 = pd.merge(Facility_admits2, re_admits_attending_NPI, how ='left',on='Attending Provider NPI',suffixes =('_hosp','_readm'))
#Select only the Ecounter ID columns

#Calulate the RE-Hospitalization rate 
rehospitalization2['Readmission_provider_rate'] = round(rehospitalization2['Encounter ID_readm'] / rehospitalization2['Encounter ID_hosp'] * 100  ,2 )
# Sort the Re-hospitalization rate
rehospitalization2 = rehospitalization2.sort_values(['Encounter ID_readm'], ascending=False)
rehospitalization2.head(50)

### C. Review PCP dataframe of Patients that visited the PCP group in 7 days after exiting the hospital by Provider Group NPI

In [ ]:
# Lets Review now the data frame from PCP visit to see if PCP group ID  
pcp_after_hospitalization.head()
pcpvisit_by_pcp = pcp_after_hospitalization.groupby(by='Provider Group NPI',as_index=False)['Encounter ID_adm'].count()
pcpvisit_by_pcp

In [ ]:
#Sort the pcpvisit by provider group with the highest number that patients seeing thier Primary Provider
pcpvisit_by_pcp = pcpvisit_by_pcp.sort_values('Encounter ID_adm', ascending=False)
pcpvisit_by_pcp

In [ ]:
# Identify the encounter from pcp_visit Data frame and group them by Provider Group NPI that will provide denominator
encounters_by_pcp_group = pcp_visit.groupby('Provider Group NPI', as_index = False)['Encounter ID'].count()

In [ ]:
#We will now merge the encounters_by_pcp_group ( to have denominator) to the pcpvisit_by_pcp ( numerator)to calculate
#rate of the % re-admission by Provider Group NPI.

pcp_group1 = pd.merge(encounters_by_pcp_group, pcpvisit_by_pcp, how ='left',on='Provider Group NPI',suffixes =('_pcp','_readm'))
#Select only the Encounter ID columns
pcp_group1
#Calulate the PCP visit Rate for the Re-admits 
pcp_group1['PCP_visit_rate'] = round(pcp_group1['Encounter ID_adm'] / pcp_group1['Encounter ID'] * 100  ,2 )
# Sort the Re-hospitalization rate
pcp_group1 = pcp_group1.sort_values(['PCP_visit_rate'], ascending=False)
pcp_group1.head(50)

### D. Review PCP dataframe of Patients that visited the PCP group in 7 days after exiting the hospital by Service Provider ID

In [ ]:
#Sort the pcpvisit by hospital group with the highest number that patients that see the Primary Provider
pcpvisit_by_hosp = pcp_after_hospitalization.groupby(by='Service Provider ID').count()
pcpvisit_by_hosp

In [ ]:
pcpvisit_by_hosp = pcpvisit_by_hosp.sort_values('Encounter ID_adm',  ascending=False)['Encounter ID_adm']
pcpvisit_by_hosp

### 4. Which individual or PCP groups should we make an extra effort with to build a relationship? Which have the highest volume?