#### Import the necessary Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#### File open the CSV files and bring them in as their own Data Frames

In [19]:
members =pd.read_csv('../data/NSS_GreatCare_Members.csv')
admissions =pd.read_csv('../data/NSS_Hospital_Inpatient_Admissions.csv')
p_visit =pd.read_csv('../data/NSS_PrimaryCare_Office_Visits.csv')

#### Review the data frame to decide the way forward

In [15]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  object
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  object
 62  Period End Date                                                  61519 non-null  object
dtypes: float64(8), int64(45), object(10)
memory usage: 29.6+ MB

In [16]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   object
 9   Encounter End Date                                   6213 non-null   object
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.1+ MB

In [20]:
p_visit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  object
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 31.8+ MB

In [22]:
members.head(50)

,Patient ID,Primary Plan ID,Primary Payor ID,Is Patient Alive,Patient Age Integer,Patient Date of Birth,Patient ZIP Code 5-Digit,Count Primary Care Visits in Last 36 Months,Count Visits with Attributee Individual Primary Care Provider i,Count Visits with Attributee Primary Care Provider Group in Las,...,Is CCW Prostate Cancer,Is CCW Rheumatoid Arthritis or Osteoarthritis,Is CCW Stroke or Transient Ischemic Attack,Is CCW ASCVD,Is CCW Anxiety Disorders,Is CCW Depressive Disorders,Is CCW Schizophrenia or Other Psychotic Disorders,Is CCW Bipolar Disorder,Period Start Date,Period End Date
0,DS1|1,DS1|5047W,DS1|1,1,54,1958-11-08,92111.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-04-11 00:00:00+00
1,DS1|10,DS1|5047W,DS1|1,1,54,1958-12-10,90024.0,6,1.0,5.0,...,0,0,0,0,1,0,0,0,2012-12-10 00:00:00+00,2013-01-01 00:00:00+00
2,DS1|100,DS1|5047W,DS1|1,1,2,2012-08-04,90008.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2015-04-18 00:00:00+00,2015-05-18 00:00:00+00
3,DS1|1000,DS1|5047W,DS1|1,1,6,2003-12-25,94131.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-04-09 00:00:00+00
4,DS1|10000,DS1|5047W,DS1|1,1,7,2005-07-15,90301.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-08-01 00:00:00+00,2012-10-02 00:00:00+00
5,DS1|10001,DS1|5047X,DS1|1,1,40,1972-11-02,92111.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-01-30 00:00:00+00
6,DS1|10002,DS1|5047X,DS1|1,1,23,1988-02-04,90064.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-01-01 00:00:00+00,2012-02-04 00:00:00+00
7,DS1|10003,DS1|5047X,DS1|1,1,24,1991-10-17,91343.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2016-05-07 00:00:00+00,2016-10-17 00:00:00+00
8,DS1|10004,DS1|5047X,DS1|1,1,9,2003-08-12,91606.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-04-12 00:00:00+00
9,DS1|10005,DS1|5047Y,DS1|1,1,55,1957-09-28,94132.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-09-28 00:00:00+00
10,DS1|10006,DS1|5047W,DS1|1,1,24,1988-04-20,92882.0,2,2.0,2.0,...,0,0,0,0,0,0,0,0,2012-11-10 00:00:00+00,2012-11-17 00:00:00+00
11,DS1|10007,DS1|5047X,DS1|1,1,37,1976-05-11,90031.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-05-11 00:00:00+00
12,DS1|10008,DS1|5047X,DS1|1,1,30,1980-12-10,90034.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-09-28 00:00:00+00,2011-12-10 00:00:00+00
13,DS1|10009,DS1|5047X,DS1|1,1,12,1997-04-25,91406.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-04-02 00:00:00+00,2010-04-25 00:00:00+00
14,DS1|1001,DS1|5047X,DS1|1,1,43,1969-10-21,95616.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-02-01 00:00:00+00
15,DS1|10010,DS1|5047X,DS1|1,1,42,1970-06-19,94115.0,2,2.0,2.0,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-05-04 00:00:00+00
16,DS1|10011,DS1|5047Y,DS1|1,1,28,1985-05-18,90062.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-04-01 00:00:00+00,2014-05-18 00:00:00+00
17,DS1|10012,DS1|5047X,DS1|1,1,35,1975-11-04,94118.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-02-06 00:00:00+00
18,DS1|10013,DS1|5047X,DS1|1,1,19,1990-10-31,92116.0,2,2.0,2.0,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-03-01 00:00:00+00
19,DS1|10014,DS1|5047W,DS1|1,1,11,1998-04-08,90045.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-04-08 00:00:00+00
20,DS1|10015,DS1|5047Z,DS1|1,1,27,1983-03-15,94116.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-03-15 00:00:00+00
21,DS1|10016,DS1|5047W,DS1|1,1,42,1969-09-17,95628.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-01-01 00:00:00+00,2012-09-17 00:00:00+00
22,DS1|10017,DS1|5047W,DS1|1,1,3,2006-01-25,92130.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-01-25 00:00:00+00
23,DS1|10018,DS1|5047W,DS1|1,1,1,2008-11-14,94116.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-01-18 00:00:00+00
24,DS1|10019,DS1|5047X,DS1|1,1,1,2013-01-01,90034.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-01-04 00:00:00+00
25,DS1|1002,DS1|5047X,DS1|1,1,29,1984-08-21,95619.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-01-14 00:00:00+00
26,DS1|10020,DS1|5047W,DS1|1,1,46,1965-08-04,92127.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-04-05 00:00:00+00,2012-08-04 00:00:00+00
27,DS1|10021,DS1|5047X,DS1|1,1,39,1973-03-20,90292.0,10,2.0,10.0,...,0,0,0,0,0,0,0,0,2012-07-01 00:00:00+00,2012-07-10 00:00:00+00
28,DS1|10022,DS1|5047X,DS1|1,1,4,2007-07-01,90602.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2011-11-01 00:00:00+00,2011-11-25 00:00:00+00
29,DS1|10023,DS1|5047W,DS1|1,1,33,1977-05-09,92122.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-05-09 00:00:00+00
30,DS1|10024,DS1|5047W,DS1|1,1,42,1969-01-19,90272.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-01-01 00:00:00+00,2012-01-19 00:00:00+00
31,DS1|10025,DS1|5047X,DS1|1,1,40,1974-07-23,91354.0,1,1.0,1.0,...,0,0,0,0,0,0,0,0,2015-06-29 00:00:00+00,2015-06-30 00:00:00+00
32,DS1|10026,DS1|5047W,DS1|1,1,41,1972-06-24,92705.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-02-28 00:00:00+00
33,DS1|10027,DS1|5047W,DS1|1,1,28,1985-09-02,95618.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-09-02 00:00:00+00
34,DS1|10028,DS1|5047X,DS1|1,1,4,2009-05-03,92037.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-05-03 00:00:00+00
35,DS1|10029,DS1|5047X,DS1|1,1,3,2010-02-22,94561.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-08 00:00:00+00,2014-02-22 00:00:00+00
36,DS1|1003,DS1|5047W,DS1|1,1,59,1954-02-11,92114.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-01-31 00:00:00+00
37,DS1|10030,DS1|5047W,DS1|1,1,15,1995-05-05,92780.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-04-27 00:00:00+00,2011-05-05 00:00:00+00
38,DS1|10031,DS1|5047Z,DS1|1,1,30,1979-08-08,95747.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-03-20 00:00:00+00
39,DS1|10032,DS1|5047X,DS1|1,1,10,2008-03-09,94132.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2018-03-09 00:00:00+00,2019-03-09 00:00:00+00
40,DS1|10033,DS1|5047X,DS1|1,1,1,2012-11-09,94123.0,2,2.0,2.0,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-02-16 00:00:00+00
41,DS1|10034,DS1|5047X,DS1|1,1,58,1954-10-31,95630.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-02-22 00:00:00+00
42,DS1|10035,DS1|5047X,DS1|1,1,26,1983-10-24,95258.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2010-01-01 00:00:00+00,2010-05-27 00:00:00+00
43,DS1|10036,DS1|5047W,DS1|1,1,69,1943-10-08,94116.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2013-01-01 00:00:00+00,2013-04-05 00:00:00+00
44,DS1|10037,DS1|5047W,DS1|1,1,50,1961-06-05,90254.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-10-31 00:00:00+00,2011-11-05 00:00:00+00
45,DS1|10038,DS1|5047W,DS1|1,1,0,2011-10-02,92107.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2012-01-01 00:00:00+00,2012-01-25 00:00:00+00
46,DS1|10039,DS1|5047X,DS1|1,1,16,1997-08-28,95819.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-04-22 00:00:00+00
47,DS1|1004,DS1|5047W,DS1|1,1,41,1969-03-02,92019.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-03-02 00:00:00+00
48,DS1|10040,DS1|5047W,DS1|1,1,84,1929-09-01,95616.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2014-01-01 00:00:00+00,2014-09-01 00:00:00+00
49,DS1|10041,DS1|5047X,DS1|1,1,9,2001-08-14,95618.0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,2011-01-01 00:00:00+00,2011-07-01 00:00:00+00

In [29]:
members['Period Start Date'] = pd.to_datetime(members['Period Start Date'], format='%Y-%m-%d')
members['Period End Date'] = pd.to_datetime(members['Period End Date'], format='%Y-%m-%d')
members['Patient Date of Birth'] = pd.to_datetime(members['Patient Date of Birth'], format='%Y-%m-%d')
members['Patient ZIP Code 5-Digit'] = members['Patient ZIP Code 5-Digit'].astype('Int64').astype(str)
members.assign(days_30 = lamda members: members['Period End Date']+

In [26]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  object
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  datetime64[ns, UTC]
 62  Period End Date                                                  61519 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), float64(8), int64(45), object(8)
memory usage: 29.6+ MB