In [653]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

In [692]:
members = pd.read_csv('NSS_GreatCare_Members.csv')
admissions = pd.read_csv('NSS_Hospital_Inpatient_Admissions.csv')
pcp = pd.read_csv('NSS_PrimaryCare_Office_Visits.csv')

C:\Users\zrgra\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,5,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [693]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  object
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  object
 62  Period End Date                                                  61519 non-null  object
dtypes: float64(8), int64(45), object(10)
memory usage: 29.6+ MB

In [694]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   object
 9   Encounter End Date                                   6213 non-null   object
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.1+ MB

In [695]:
pcp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  object
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 31.8+ MB

In [658]:
members.describe()

,Is Patient Alive,Patient Age Integer,Patient ZIP Code 5-Digit,Count Primary Care Visits in Last 36 Months,Count Visits with Attributee Individual Primary Care Provider i,Count Visits with Attributee Primary Care Provider Group in Las,Administratively Assigned PCP Provider NPI,Empirically Attributed PCP Individual Provider NPI,Empirically Attributed PCP Group Provider NPI,Primary Payor Description,...,Is CCW Lung Cancer,Is CCW Osteoporosis,Is CCW Prostate Cancer,Is CCW Rheumatoid Arthritis or Osteoarthritis,Is CCW Stroke or Transient Ischemic Attack,Is CCW ASCVD,Is CCW Anxiety Disorders,Is CCW Depressive Disorders,Is CCW Schizophrenia or Other Psychotic Disorders,Is CCW Bipolar Disorder
count,61519.0,61519.000000,61105.000000,61519.000000,31839.000000,31896.000000,0.0,3.183900e+04,3.188800e+04,0.0,...,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000
mean,1.0,36.329264,92451.083757,1.572148,1.995509,2.691623,NaN,1.493144e+09,1.186191e+09,NaN,...,0.000455,0.002861,0.001268,0.020108,0.001252,0.006258,0.015898,0.015199,0.000488,0.001756
std,0.0,18.933162,2390.957396,2.492081,1.638456,2.440030,NaN,2.734712e+08,2.150372e+08,NaN,...,0.021329,0.053411,0.035585,0.140370,0.035357,0.078862,0.125080,0.122343,0.022078,0.041863
min,1.0,0.000000,3842.000000,0.000000,1.000000,1.000000,NaN,1.003102e+09,1.003864e+09,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,23.000000,90405.000000,0.000000,1.000000,1.000000,NaN,1.235422e+09,1.043427e+09,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.0,37.000000,92122.000000,1.000000,1.000000,2.000000,NaN,1.497791e+09,1.164513e+09,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.0,52.000000,94117.000000,2.000000,2.000000,3.000000,NaN,1.720035e+09,1.184723e+09,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.0,96.000000,99223.000000,67.000000,40.000000,67.000000,NaN,1.992995e+09,1.992931e+09,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [659]:
admissions.describe()

,Attending Provider NPI,Is Emergency Department Visit Parent Encounter,Is Observation Stay Parent Encounter,CMS Admit Type Code,CMS Patient Discharge Status Code,CMS Place of Service Code,Primary Plan Allowed Amount,Primary Plan Paid Amount,Patient Paid Amount
count,5.884000e+03,6213.000000,6213.000000,6196.000000,6213.000000,5378.000000,6213.0,6.213000e+03,6213.000000
mean,1.483621e+09,0.246419,0.145340,2.168012,3.225173,21.165303,0.0,2.697675e+04,198.706242
std,2.867362e+08,0.430960,0.352472,1.176313,8.695167,2.276582,0.0,5.632597e+04,109.123134
min,1.520000e+02,0.000000,0.000000,1.000000,1.000000,11.000000,0.0,0.000000e+00,0.000000
25%,1.245253e+09,0.000000,0.000000,1.000000,1.000000,21.000000,0.0,7.656000e+03,250.000000
50%,1.467790e+09,0.000000,0.000000,2.000000,1.000000,21.000000,0.0,1.480000e+04,250.000000
75%,1.720043e+09,0.000000,0.000000,3.000000,1.000000,21.000000,0.0,2.495088e+04,250.000000
max,1.992998e+09,1.000000,1.000000,9.000000,90.000000,81.000000,0.0,1.589601e+06,750.000000

In [660]:
pcp.describe()

,Attending Provider NPI,Facility Provider NPI,Service Provider NPI,Provider Group NPI,Is Qualifying Preventive Primary Care Service,Is Qualifying Primary Care Service Provider,Is Qualifying Primary Care Attending,Is Qualifying Primary Care Provider Group
count,3.964400e+04,3.975600e+04,2.305990e+05,2.276440e+05,231373.000000,231373.000000,231373.000000,231373.000000
mean,1.512593e+09,1.634380e+09,1.490997e+09,1.176631e+09,0.255618,0.949981,0.159686,0.159686
std,2.832986e+08,3.503427e+08,2.750714e+08,2.112866e+08,0.436209,0.217984,0.366315,0.366315
min,1.003102e+09,0.000000e+00,1.003046e+09,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.285658e+09,1.104842e+09,1.235367e+09,1.043427e+09,0.000000,1.000000,0.000000,0.000000
50%,1.548480e+09,1.902803e+09,1.487848e+09,1.043427e+09,0.000000,1.000000,0.000000,0.000000
75%,1.720009e+09,1.902803e+09,1.720064e+09,1.184723e+09,1.000000,1.000000,0.000000,0.000000
max,1.992914e+09,1.932197e+09,2.000000e+09,1.992931e+09,1.000000,1.000000,1.000000,1.000000

In [661]:
members['Patient Date of Birth'] = pd.to_datetime(members['Patient Date of Birth'], format='%Y-%m-%d')
members['Period Start Date'] = pd.to_datetime(members['Period Start Date'], format='%Y-%m-%d')
members['Period End Date'] = pd.to_datetime(members['Period End Date'], format='%Y-%m-%d')

In [662]:
admissions['Encounter Start Date'] = pd.to_datetime(admissions['Encounter Start Date'], format='%Y-%m-%d')
admissions['Encounter End Date'] = pd.to_datetime(admissions['Encounter End Date'], format='%Y-%m-%d')

In [663]:
pcp['Encounter Date'] = pd.to_datetime(pcp['Encounter Date'], format='%Y-%m-%d')

In [664]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  datetime64[ns]
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  datetime64[ns, UTC]
 62  Period End Date                                                  61519 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), datetime64[ns](1), float64(8), int64(45), object(7)
memory usage: 29.6+ MB

In [665]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   datetime64[ns]
 9   Encounter End Date                                   6213 non-null   datetime64[ns]
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(4), object(12)
memory usage: 1.1+ MB

In [666]:
pcp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  datetime64[ns]
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 31.8+ MB

# Problem 1: Readmission Rates

In [667]:
admissions['patient_adm_ct'] = admissions.groupby('Patient ID')['Encounter Start Date'].transform('rank')

In [668]:
#code by joshua
#days_till_readmission = []
#for index, row in admissions.iterrows():
    #if row['patient_adm_ct'] == 1:
       # readm_time = pd.to_datetime(None)
    #else:
        #readm_time = row['Encounter Start Date'] - admissions[(hsp_in_adm['Patient ID'] == row['Patient ID'])
                                #&
                                #(hsp_in_adm['patient_adm_ct'] == row['patient_adm_ct']-1)]['Encounter End Date']
    #days_till_readmission.append(readm_time)
    
#days_till_readmission    
# admissions['days_till_readmission'] = days_till_readmission
# admissions['days_till_readmission'] = admissions['days_till_readmission'].dt.days
# print(admissions['days_till_readmission'])

In [669]:
readmissions = admissions[['Patient ID','Facility Provider ID','Encounter Start Date','Encounter End Date']]

In [670]:
readmissions.columns = ['Patient ID','Facility ID','Start Date','End Date']
readmissions

     Patient ID         Facility ID Start Date   End Date
0     DS1|10033  DS1|NPI|1306890389 2013-01-12 2013-01-14
1     DS1|10043  DS1|NPI|1902803315 2014-01-05 2014-01-12
2     DS1|10073  DS1|NPI|1902803315 2012-06-13 2012-06-21
3     DS1|10101  DS1|NPI|1427055839 2012-12-06 2012-12-09
4     DS1|10118  DS1|NPI|1992818256 2015-03-11 2015-03-14
...         ...                 ...        ...        ...
6208   DS1|9979  DS1|NPI|1689772592 2015-02-06 2015-02-11
6209   DS1|9981  DS1|NPI|1427055839 2014-08-07 2014-08-10
6210   DS1|9994  DS1|NPI|1689608150 2015-11-21 2015-11-23
6211   DS1|9994  DS1|NPI|1689608150 2015-11-24 2015-11-27
6212   DS1|9996  DS1|NPI|1033298617 2010-03-28 2010-03-31

[6213 rows x 4 columns]

In [671]:
readmissions['Next Admission'] = readmissions.sort_values(by = ['Start Date'], ascending = True).groupby(['Patient ID'])['Start Date'].shift(-1)

<ipython-input-671-0e1bab8b448d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmissions['Next Admission'] = readmissions.sort_values(by = ['Start Date'], ascending = True).groupby(['Patient ID'])['Start Date'].shift(-1)

In [672]:
readmissions['Difference'] = readmissions['Next Admission'] - readmissions['End Date']
readmissions

<ipython-input-672-46fa23ec3b34>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmissions['Difference'] = readmissions['Next Admission'] - readmissions['End Date']

,Patient ID,Facility ID,Start Date,End Date,Next Admission,Difference
0,DS1|10033,DS1|NPI|1306890389,2013-01-12,2013-01-14,NaT,NaT
1,DS1|10043,DS1|NPI|1902803315,2014-01-05,2014-01-12,NaT,NaT
2,DS1|10073,DS1|NPI|1902803315,2012-06-13,2012-06-21,NaT,NaT
3,DS1|10101,DS1|NPI|1427055839,2012-12-06,2012-12-09,NaT,NaT
4,DS1|10118,DS1|NPI|1992818256,2015-03-11,2015-03-14,NaT,NaT
...,...,...,...,...,...,...
6208,DS1|9979,DS1|NPI|1689772592,2015-02-06,2015-02-11,NaT,NaT
6209,DS1|9981,DS1|NPI|1427055839,2014-08-07,2014-08-10,NaT,NaT
6210,DS1|9994,DS1|NPI|1689608150,2015-11-21,2015-11-23,2015-11-24,1 days
6211,DS1|9994,DS1|NPI|1689608150,2015-11-24,2015-11-27,NaT,NaT
6212,DS1|9996,DS1|NPI|1033298617,2010-03-28,2010-03-31,NaT,NaT

In [673]:
readmitted = readmissions.dropna()
readmissions

,Patient ID,Facility ID,Start Date,End Date,Next Admission,Difference
0,DS1|10033,DS1|NPI|1306890389,2013-01-12,2013-01-14,NaT,NaT
1,DS1|10043,DS1|NPI|1902803315,2014-01-05,2014-01-12,NaT,NaT
2,DS1|10073,DS1|NPI|1902803315,2012-06-13,2012-06-21,NaT,NaT
3,DS1|10101,DS1|NPI|1427055839,2012-12-06,2012-12-09,NaT,NaT
4,DS1|10118,DS1|NPI|1992818256,2015-03-11,2015-03-14,NaT,NaT
...,...,...,...,...,...,...
6208,DS1|9979,DS1|NPI|1689772592,2015-02-06,2015-02-11,NaT,NaT
6209,DS1|9981,DS1|NPI|1427055839,2014-08-07,2014-08-10,NaT,NaT
6210,DS1|9994,DS1|NPI|1689608150,2015-11-21,2015-11-23,2015-11-24,1 days
6211,DS1|9994,DS1|NPI|1689608150,2015-11-24,2015-11-27,NaT,NaT
6212,DS1|9996,DS1|NPI|1033298617,2010-03-28,2010-03-31,NaT,NaT

In [674]:
readmitted = readmitted.sort_values('Start Date')
readmitted

,Patient ID,Facility ID,Start Date,End Date,Next Admission,Difference
77,DS1|10734,DS1|NPI|1104982917,2009-11-11,2009-11-25,2010-04-25,151 days
3367,DS1|39675,DS1|NPI|1184722779,2009-11-24,2010-11-30,2011-01-17,48 days
1304,DS1|21571,DS1|NPI|1689608150,2009-11-27,2009-12-02,2010-02-20,80 days
2612,DS1|3294,DS1|NPI|1710065933,2009-11-28,2009-12-08,2010-01-01,24 days
4982,DS1|53976,DS1|NPI|1689772592,2009-11-29,2009-12-01,2009-12-28,27 days
...,...,...,...,...,...,...
4642,DS1|51247,DS1|NPI|1184722779,2018-07-16,2018-07-21,2019-04-09,262 days
5899,DS1|6964,DS1|NPI|1184722779,2018-07-21,2018-11-18,2018-07-21,-120 days
5898,DS1|6964,DS1|NPI|0000000000,2018-07-21,2018-09-18,2018-11-23,66 days
922,DS1|18117,DS1|NPI|1033298617,2018-08-08,2018-08-11,2018-08-08,-3 days
1334,DS1|2184,DS1|NPI|1902803315,2018-08-20,2018-08-25,2019-02-24,183 days

In [675]:
readmitted = readmitted[readmitted['Difference'] >= '0 days']

In [676]:
readmitted_month = readmitted[readmitted['Difference'] <= '30 days']
readmitted_month

,Patient ID,Facility ID,Start Date,End Date,Next Admission,Difference
2612,DS1|3294,DS1|NPI|1710065933,2009-11-28,2009-12-08,2010-01-01,24 days
4982,DS1|53976,DS1|NPI|1689772592,2009-11-29,2009-12-01,2009-12-28,27 days
3804,DS1|43565,DS1|NPI|1801152566,2009-12-09,2009-12-17,2009-12-30,13 days
3166,DS1|37954,DS1|NPI|1689772592,2009-12-16,2009-12-23,2009-12-23,0 days
3169,DS1|37954,DS1|NPI|1871543215,2009-12-23,2010-01-29,2010-02-16,18 days
...,...,...,...,...,...,...
1864,DS1|25963,DS1|NPI|1992818256,2017-09-10,2017-09-14,2017-09-15,1 days
3608,DS1|41795,DS1|NPI|1902803315,2017-12-25,2018-01-07,2018-01-31,24 days
279,DS1|12364,DS1|NPI|1184722779,2018-03-13,2018-03-18,2018-04-04,17 days
280,DS1|12364,DS1|NPI|1184722779,2018-04-04,2018-04-11,2018-05-02,21 days
282,DS1|12364,DS1|NPI|1528041811,2018-05-02,2018-05-12,2018-05-12,0 days

# Problem 2: PCP

In [678]:
pcp_clean = pcp[['Encounter ID','Patient ID','Service Provider NPI','Provider Group NPI','Encounter Date']]

In [679]:
pcp_clean

,Encounter ID,Patient ID,Service Provider NPI,Provider Group NPI,Encounter Date
0,COV|EE|DS1|10076|20110225|DS1|NPI|1487856779,DS1|10076,1.487857e+09,1.043427e+09,2011-02-18
1,COV|EE|DS1|10088|20140222|DS1|NPI|1528030996,DS1|10088,1.528031e+09,1.043427e+09,2014-02-22
2,COV|EE|DS1|10165|20140907|DS1|NPI|1477579365,DS1|10165,1.477579e+09,1.043427e+09,2014-08-31
3,COV|EE|DS1|10240|20130624|DS1|NPI|1821178088,DS1|10240,1.821178e+09,1.407059e+09,2013-06-17
4,COV|EE|DS1|10293|20160904|DS1|NPI|1609004191,DS1|10293,1.609004e+09,1.184723e+09,2016-09-04
...,...,...,...,...,...
231368,COV|PCSL|DS1|9999|P|91236|1184722779|1,DS1|9999,1.851738e+09,1.184723e+09,2015-02-10
231369,COV|PCSL|DS1|99|P|1263621|1043427248|1,DS1|99,1.215163e+09,1.043427e+09,2011-08-02
231370,COV|PCSL|DS1|99|P|22491|1043427248|1,DS1|99,1.215163e+09,1.043427e+09,2011-04-13
231371,COV|PCSL|DS1|9|P|341904|1962790014|1,DS1|9,1.144252e+09,1.962790e+09,2014-04-07
231372,COV|PCSL|DS1|9|P|363471|1124439807|1,DS1|9,1.225187e+09,1.124440e+09,2014-02-17

In [680]:
admissions_clean = admissions[['Patient ID','Encounter End Date']]

In [697]:
admissions_clean

     Patient ID Encounter End Date
0     DS1|10033         2013-01-14
1     DS1|10043         2014-01-12
2     DS1|10073         2012-06-21
3     DS1|10101         2012-12-09
4     DS1|10118         2015-03-14
...         ...                ...
6208   DS1|9979         2015-02-11
6209   DS1|9981         2014-08-10
6210   DS1|9994         2015-11-23
6211   DS1|9994         2015-11-27
6212   DS1|9996         2010-03-31

[6213 rows x 2 columns]

In [681]:
pcp_adm = admissions_clean.merge(pcp_clean, left_on ='Patient ID', right_on = 'Patient ID', how = 'left', indicator = False)

In [698]:
pcp_adm

,Patient ID,Encounter End Date,Encounter ID,Service Provider NPI,Provider Group NPI,Encounter Date,Days Until PCP Visit
0,DS1|10033,2013-01-14,COV|PBSL|DS1|10033|P|1228384|1043427248|1|SHIFTED,1.619980e+09,1.043427e+09,2015-12-08,1058 days
1,DS1|10033,2013-01-14,COV|PBSL|DS1|10033|P|1326684|1043427248|1|SHIFTED,1.225216e+09,1.043427e+09,2012-06-18,-210 days
2,DS1|10033,2013-01-14,COV|PBSL|DS1|10033|P|155317|1043427248|1|SHIFTED,1.619980e+09,1.043427e+09,2014-06-10,512 days
3,DS1|10033,2013-01-14,COV|PBSL|DS1|10033|P|439093|1043427248|1|SHIFTED,1.366453e+09,1.043427e+09,2014-09-28,622 days
4,DS1|10033,2013-01-14,COV|PBSL|DS1|10033|P|711310|1043427248|1|SHIFTED,1.619980e+09,1.043427e+09,2014-03-16,426 days
...,...,...,...,...,...,...,...
44093,DS1|9994,2015-11-27,COV|PCSL|DS1|9994|P|1238517|1407058787|2,1.487735e+09,1.407059e+09,2015-12-05,8 days
44094,DS1|9994,2015-11-27,COV|PCSL|DS1|9994|P|302749|1407058787|2,1.487735e+09,1.407059e+09,2015-12-13,16 days
44095,DS1|9994,2015-11-27,COV|PCSL|DS1|9994|P|781849|1205884392|1,1.669553e+09,1.205884e+09,2014-05-18,-558 days
44096,DS1|9994,2015-11-27,COV|PCSL|DS1|9994|P|93182|1043427248|1,1.508895e+09,1.043427e+09,2013-07-20,-860 days
44097,DS1|9996,2010-03-31,NaN,NaN,NaN,NaT,NaT

In [701]:
pcp_adm['Days Until PCP Visit'] = pcp_adm['Encounter Date'] - pcp_adm['Encounter End Date']

In [702]:
pcp_week

,Patient ID,Encounter End Date,Encounter ID,Service Provider NPI,Provider Group NPI,Encounter Date,Days Until PCP Visit
17,DS1|10043,2014-01-12,COV|PBSL|DS1|10043|P|538933|1043427248|1|SHIFTED,1.619200e+09,1.043427e+09,2014-01-12,0 days
28,DS1|10073,2012-06-21,COV|PBSL|DS1|10073|P|301709|1043427248|1|SHIFTED,1.659394e+09,1.043427e+09,2012-06-27,6 days
50,DS1|10101,2012-12-09,COV|PCSL|DS1|10101|P|1189971|1043427248|1,1.952538e+09,1.043427e+09,2012-12-12,3 days
231,DS1|10303,2012-06-24,COV|PBSL|DS1|10303|P|10896|1912987553|1,1.447235e+09,1.912988e+09,2012-06-30,6 days
247,DS1|10305,2014-05-12,COV|PBSL|DS1|10305|P|823298|1184722779|1,1.417113e+09,1.184723e+09,2014-05-13,1 days
...,...,...,...,...,...,...,...
44039,DS1|9943,2014-10-30,COV|PCSL|DS1|9943|P|1315984|1184722779|1,1.659330e+09,1.184723e+09,2014-11-03,4 days
44051,DS1|9945,2013-02-11,COV|PCSL|DS1|9945|P|840374|1043427248|1,1.164698e+09,1.043427e+09,2013-02-14,3 days
44067,DS1|9978,2015-09-05,COV|PCSL|DS1|9978|P|696226|1043427248|1,1.144275e+09,1.043427e+09,2015-09-11,6 days
44071,DS1|9979,2015-02-11,COV|PCSL|DS1|9979|P|281365|1477666352|1,1.740278e+09,1.477666e+09,2015-02-15,4 days
44074,DS1|9981,2014-08-10,COV|PCSL|DS1|9981|P|1094367|1043427248|1,1.992932e+09,1.043427e+09,2014-08-11,1 days

In [683]:
pcp_week = pcp_adm[pcp_readm['Days Until PCP Visit'] <= '7 days']

In [684]:
pcp_week = pcp_week[pcp_week['Days Until PCP Visit'] >= '0 days']

In [685]:
pcp_week = pcp_week.drop_duplicates(subset = ['Patient ID', 'Encounter End Date'], keep = 'first')

In [699]:
pcp_week

,Patient ID,Encounter End Date,Encounter ID,Service Provider NPI,Provider Group NPI,Encounter Date,Days Until PCP Visit
17,DS1|10043,2014-01-12,COV|PBSL|DS1|10043|P|538933|1043427248|1|SHIFTED,1.619200e+09,1.043427e+09,2014-01-12,0 days
28,DS1|10073,2012-06-21,COV|PBSL|DS1|10073|P|301709|1043427248|1|SHIFTED,1.659394e+09,1.043427e+09,2012-06-27,6 days
50,DS1|10101,2012-12-09,COV|PCSL|DS1|10101|P|1189971|1043427248|1,1.952538e+09,1.043427e+09,2012-12-12,3 days
231,DS1|10303,2012-06-24,COV|PBSL|DS1|10303|P|10896|1912987553|1,1.447235e+09,1.912988e+09,2012-06-30,6 days
247,DS1|10305,2014-05-12,COV|PBSL|DS1|10305|P|823298|1184722779|1,1.417113e+09,1.184723e+09,2014-05-13,1 days
...,...,...,...,...,...,...,...
44039,DS1|9943,2014-10-30,COV|PCSL|DS1|9943|P|1315984|1184722779|1,1.659330e+09,1.184723e+09,2014-11-03,4 days
44051,DS1|9945,2013-02-11,COV|PCSL|DS1|9945|P|840374|1043427248|1,1.164698e+09,1.043427e+09,2013-02-14,3 days
44067,DS1|9978,2015-09-05,COV|PCSL|DS1|9978|P|696226|1043427248|1,1.144275e+09,1.043427e+09,2015-09-11,6 days
44071,DS1|9979,2015-02-11,COV|PCSL|DS1|9979|P|281365|1477666352|1,1.740278e+09,1.477666e+09,2015-02-15,4 days
44074,DS1|9981,2014-08-10,COV|PCSL|DS1|9981|P|1094367|1043427248|1,1.992932e+09,1.043427e+09,2014-08-11,1 days

In [687]:
pcp_visit_rate = ((pcp_week['Patient ID'].count())/(admissions[admissions.columns[0]].count())*100)

In [696]:
round(pcp_visit_rate,2)

29.99

# Problem 3