In [208]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import datetime as dt
%matplotlib inline

In [209]:
members = pd.read_csv('NSS_GreatCare_Members.csv')
admissions = pd.read_csv('NSS_Hospital_Inpatient_Admissions.csv')
pcp = pd.read_csv('NSS_PrimaryCare_Office_Visits.csv')

C:\Users\zrgra\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,5,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [210]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  object
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  object
 62  Period End Date                                                  61519 non-null  object
dtypes: float64(8), int64(45), object(10)
memory usage: 29.6+ MB

In [211]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   object
 9   Encounter End Date                                   6213 non-null   object
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.1+ MB

In [212]:
pcp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  object
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: float64(4), int64(4), object(10)
memory usage: 31.8+ MB

In [213]:
members.describe()

,Is Patient Alive,Patient Age Integer,Patient ZIP Code 5-Digit,Count Primary Care Visits in Last 36 Months,Count Visits with Attributee Individual Primary Care Provider i,Count Visits with Attributee Primary Care Provider Group in Las,Administratively Assigned PCP Provider NPI,Empirically Attributed PCP Individual Provider NPI,Empirically Attributed PCP Group Provider NPI,Primary Payor Description,...,Is CCW Lung Cancer,Is CCW Osteoporosis,Is CCW Prostate Cancer,Is CCW Rheumatoid Arthritis or Osteoarthritis,Is CCW Stroke or Transient Ischemic Attack,Is CCW ASCVD,Is CCW Anxiety Disorders,Is CCW Depressive Disorders,Is CCW Schizophrenia or Other Psychotic Disorders,Is CCW Bipolar Disorder
count,61519.0,61519.000000,61105.000000,61519.000000,31839.000000,31896.000000,0.0,3.183900e+04,3.188800e+04,0.0,...,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000,61519.000000
mean,1.0,36.329264,92451.083757,1.572148,1.995509,2.691623,NaN,1.493144e+09,1.186191e+09,NaN,...,0.000455,0.002861,0.001268,0.020108,0.001252,0.006258,0.015898,0.015199,0.000488,0.001756
std,0.0,18.933162,2390.957396,2.492081,1.638456,2.440030,NaN,2.734712e+08,2.150372e+08,NaN,...,0.021329,0.053411,0.035585,0.140370,0.035357,0.078862,0.125080,0.122343,0.022078,0.041863
min,1.0,0.000000,3842.000000,0.000000,1.000000,1.000000,NaN,1.003102e+09,1.003864e+09,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,23.000000,90405.000000,0.000000,1.000000,1.000000,NaN,1.235422e+09,1.043427e+09,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.0,37.000000,92122.000000,1.000000,1.000000,2.000000,NaN,1.497791e+09,1.164513e+09,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.0,52.000000,94117.000000,2.000000,2.000000,3.000000,NaN,1.720035e+09,1.184723e+09,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.0,96.000000,99223.000000,67.000000,40.000000,67.000000,NaN,1.992995e+09,1.992931e+09,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [214]:
admissions.describe()

,Attending Provider NPI,Is Emergency Department Visit Parent Encounter,Is Observation Stay Parent Encounter,CMS Admit Type Code,CMS Patient Discharge Status Code,CMS Place of Service Code,Primary Plan Allowed Amount,Primary Plan Paid Amount,Patient Paid Amount
count,5.884000e+03,6213.000000,6213.000000,6196.000000,6213.000000,5378.000000,6213.0,6.213000e+03,6213.000000
mean,1.483621e+09,0.246419,0.145340,2.168012,3.225173,21.165303,0.0,2.697675e+04,198.706242
std,2.867362e+08,0.430960,0.352472,1.176313,8.695167,2.276582,0.0,5.632597e+04,109.123134
min,1.520000e+02,0.000000,0.000000,1.000000,1.000000,11.000000,0.0,0.000000e+00,0.000000
25%,1.245253e+09,0.000000,0.000000,1.000000,1.000000,21.000000,0.0,7.656000e+03,250.000000
50%,1.467790e+09,0.000000,0.000000,2.000000,1.000000,21.000000,0.0,1.480000e+04,250.000000
75%,1.720043e+09,0.000000,0.000000,3.000000,1.000000,21.000000,0.0,2.495088e+04,250.000000
max,1.992998e+09,1.000000,1.000000,9.000000,90.000000,81.000000,0.0,1.589601e+06,750.000000

In [215]:
pcp.describe()

,Attending Provider NPI,Facility Provider NPI,Service Provider NPI,Provider Group NPI,Is Qualifying Preventive Primary Care Service,Is Qualifying Primary Care Service Provider,Is Qualifying Primary Care Attending,Is Qualifying Primary Care Provider Group
count,3.964400e+04,3.975600e+04,2.305990e+05,2.276440e+05,231373.000000,231373.000000,231373.000000,231373.000000
mean,1.512593e+09,1.634380e+09,1.490997e+09,1.176631e+09,0.255618,0.949981,0.159686,0.159686
std,2.832986e+08,3.503427e+08,2.750714e+08,2.112866e+08,0.436209,0.217984,0.366315,0.366315
min,1.003102e+09,0.000000e+00,1.003046e+09,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.285658e+09,1.104842e+09,1.235367e+09,1.043427e+09,0.000000,1.000000,0.000000,0.000000
50%,1.548480e+09,1.902803e+09,1.487848e+09,1.043427e+09,0.000000,1.000000,0.000000,0.000000
75%,1.720009e+09,1.902803e+09,1.720064e+09,1.184723e+09,1.000000,1.000000,0.000000,0.000000
max,1.992914e+09,1.932197e+09,2.000000e+09,1.992931e+09,1.000000,1.000000,1.000000,1.000000

In [216]:
members['Patient Date of Birth'] = pd.to_datetime(members['Patient Date of Birth'], format='%Y-%m-%d')
members['Period Start Date'] = pd.to_datetime(members['Period Start Date'], format='%Y-%m-%d')
members['Period End Date'] = pd.to_datetime(members['Period End Date'], format='%Y-%m-%d')

In [217]:
admissions['Encounter Start Date'] = pd.to_datetime(admissions['Encounter Start Date'], format='%Y-%m-%d')
admissions['Encounter End Date'] = pd.to_datetime(admissions['Encounter End Date'], format='%Y-%m-%d')

In [218]:
pcp['Encounter Date'] = pd.to_datetime(pcp['Encounter Date'], format='%Y-%m-%d')

In [219]:
members.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61519 entries, 0 to 61518
Data columns (total 63 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Patient ID                                                       61519 non-null  object
 1   Primary Plan ID                                                  61519 non-null  object
 2   Primary Payor ID                                                 61519 non-null  object
 3   Is Patient Alive                                                 61519 non-null  int64
 4   Patient Age Integer                                              61519 non-null  int64
 5   Patient Date of Birth                                            61519 non-null  datetime64[ns]
 6   Patient ZIP Code 5-Digit                                         61105 non-null  float64
 7   Count Primary Care Visits in Last 36 Months                      61519 non-null  int64
 8   Count Visits with Attributee Individual Primary Care Provider i  31839 non-null  float64
 9   Count Visits with Attributee Primary Care Provider Group in Las  31896 non-null  float64
 10  Administratively Assigned PCP Provider NPI                       0 non-null      float64
 11  Empirically Attributed PCP Individual Provider NPI               31839 non-null  float64
 12  Empirically Attributed PCP Individual Provider Description       31806 non-null  object
 13  Empirically Attributed PCP Group Provider NPI                    31888 non-null  float64
 14  Empirically Attributed PCP Group Provider Description            31888 non-null  object
 15  Primary Plan Description                                         61519 non-null  object
 16  Primary Payor Description                                        0 non-null      float64
 17  Primary Plan Financial Class Description                         61519 non-null  object
 18  Is Primary Plan Financial Class Commercial                       61519 non-null  int64
 19  Is Primary Plan Financial Class Medicare FFS                     61519 non-null  int64
 20  Is Primary Plan Financial Class Medicare Advantage               61519 non-null  int64
 21  Is Primary Plan Financial Class Medicaid                         61519 non-null  int64
 22  Is Primary Plan Financial Class Other                            61519 non-null  int64
 23  Count Active Plan Memberships                                    61519 non-null  int64
 24  Is Medicaid Eligible                                             61519 non-null  int64
 25  CMS Dual Status Code                                             0 non-null      float64
 26  Is CMS ESRD Status                                               61519 non-null  int64
 27  Is CMS Hospice Status                                            61519 non-null  int64
 28  Count CCW Conditions                                             61519 non-null  int64
 29  Is CCW Acquired Hypothyroidism                                   61519 non-null  int64
 30  Is CCW Acute Myocardial Infarction                               61519 non-null  int64
 31  Is CCW Alzheimers Disease                                        61519 non-null  int64
 32  Is CCW Alzheimers Disease and  Related Disorders or Senile Deme  61519 non-null  int64
 33  Is CCW Anemia                                                    61519 non-null  int64
 34  Is CCW Asthma                                                    61519 non-null  int64
 35  Is CCW Atrial Fibrillation                                       61519 non-null  int64
 36  Is CCW Benign Prostatic  Hyperplasia                             61519 non-null  int64
 37  Is CCW Breast Cancer                                             61519 non-null  int64
 38  Is CCW Cataract                                                  61519 non-null  int64
 39  Is CCW CKD                                                       61519 non-null  int64
 40  Is CCW COPD and Bronchiectasis                                   61519 non-null  int64
 41  Is CCW Colorectal Cancer                                         61519 non-null  int64
 42  Is CCW Depression                                                61519 non-null  int64
 43  Is CCW Diabetes                                                  61519 non-null  int64
 44  Is CCW Endometrial Cancer                                        61519 non-null  int64
 45  Is CCW Glaucoma                                                  61519 non-null  int64
 46  Is CCW Heart Failure                                             61519 non-null  int64
 47  Is CCW Hip or Pelvic Fracture                                    61519 non-null  int64
 48  Is CCW Hyperlipidemia                                            61519 non-null  int64
 49  Is CCW Hypertension                                              61519 non-null  int64
 50  Is CCW Ischemic Heart Disease                                    61519 non-null  int64
 51  Is CCW Lung Cancer                                               61519 non-null  int64
 52  Is CCW Osteoporosis                                              61519 non-null  int64
 53  Is CCW Prostate Cancer                                           61519 non-null  int64
 54  Is CCW Rheumatoid Arthritis or Osteoarthritis                    61519 non-null  int64
 55  Is CCW Stroke or Transient Ischemic Attack                       61519 non-null  int64
 56  Is CCW ASCVD                                                     61519 non-null  int64
 57  Is CCW Anxiety Disorders                                         61519 non-null  int64
 58  Is CCW Depressive Disorders                                      61519 non-null  int64
 59  Is CCW Schizophrenia or Other Psychotic Disorders                61519 non-null  int64
 60  Is CCW Bipolar Disorder                                          61519 non-null  int64
 61  Period Start Date                                                61519 non-null  datetime64[ns, UTC]
 62  Period End Date                                                  61519 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](2), datetime64[ns](1), float64(8), int64(45), object(7)
memory usage: 29.6+ MB

In [220]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   datetime64[ns]
 9   Encounter End Date                                   6213 non-null   datetime64[ns]
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(4), object(12)
memory usage: 1.1+ MB

In [221]:
pcp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231373 entries, 0 to 231372
Data columns (total 18 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   Encounter ID                                   231373 non-null  object
 1   Patient ID                                     231373 non-null  object
 2   Service Provider ID                            230599 non-null  object
 3   Attending Provider ID                          39644 non-null   object
 4   Provider Group Provider ID                     227644 non-null  object
 5   Facility Provider ID                           39756 non-null   object
 6   Encounter Primary Payor ID                     231373 non-null  object
 7   Encounter Primary Plan ID                      231373 non-null  object
 8   Attending Provider NPI                         39644 non-null   float64
 9   Facility Provider NPI                          39756 non-null   float64
 10  Service Provider NPI                           230599 non-null  float64
 11  Provider Group NPI                             227644 non-null  float64
 12  Encounter Date                                 231373 non-null  datetime64[ns]
 13  Is Qualifying Preventive Primary Care Service  231373 non-null  int64
 14  Is Qualifying Primary Care Service Provider    231373 non-null  int64
 15  Is Qualifying Primary Care Attending           231373 non-null  int64
 16  Is Qualifying Primary Care Provider Group      231373 non-null  int64
 17  Qualifying Preventive Primary Care HCPCS Code  59143 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 31.8+ MB

In [222]:
admissions[['Encounter Start Date', 'Encounter End Date']].head()

  Encounter Start Date Encounter End Date
0           2013-01-12         2013-01-14
1           2014-01-05         2014-01-12
2           2012-06-13         2012-06-21
3           2012-12-06         2012-12-09
4           2015-03-11         2015-03-14

In [223]:
admissions['patient_adm_ct'] = admissions.groupby('Patient ID')['Encounter Start Date'].transform('rank')

In [224]:
# code by joshua
days_till_readmission = []
for index, row in admissions.iterrows():
    if row['patient_adm_ct'] == 1:
        readm_time = pd.to_datetime(None)
    else:
        readm_time = row['Encounter Start Date'] - admissions[(hsp_in_adm['Patient ID'] == row['Patient ID'])
                                &
                                (hsp_in_adm['patient_adm_ct'] == row['patient_adm_ct']-1)]['Encounter End Date']
    days_till_readmission.append(readm_time)
    
days_till_readmission    
# admissions['days_till_readmission'] = days_till_readmission
# admissions['days_till_readmission'] = admissions['days_till_readmission'].dt.days
# print(admissions['days_till_readmission'])

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 8   135 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 18   496 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 19   47 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 20   285 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 43   126 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 44   31 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 45   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 37   5 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 38   47 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 39   25 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 40   28 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 41   73 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 42   27 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 34   27 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 35   4 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 51   4 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 66   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 67   674 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 None,
 None,
 None,
 None,
 77   151 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 78   19 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 79   222 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 80   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 83   116 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 84   95 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 85   105 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 89   111 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 90   125 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 96   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 99   301 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 103   47 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 108   139 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 124   590 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 128   364 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 129   1 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 131   70 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 132   157 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 133   38 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 134   47 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 135   6 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 137   647 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 144   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 154   44 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 160   1082 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 161   96 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 162   318 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 171   112 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 172   62 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 178   293 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 174   2 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 176   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 177   162 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 183   91 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 184   297 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 191   20 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 192   24 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 193   33 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 194   22 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 199   272 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 219   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 221   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 216   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 229   2 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 233   614 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 238   231 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 237   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 252   374 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 261   235 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 269   142 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 277   26 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 278   187 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 279   17 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 282   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 280   21 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 297   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 288   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 287   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 290   29 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 291   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 292   8 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 293   9 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 294   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 295   11 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 296   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 328   4 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 327   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 323   244 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 324   34 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 329   104 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 325   7 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 345   139 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 351   683 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 357   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 371   95 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 372   76 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 378   34 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 382   2 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 388   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 389   58 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 402   5 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 406   566 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 412   7 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 419   45 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 425   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 426   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 432   1 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 444   2 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 436   12 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 438   12 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 439   17 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 440   3 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 441   8 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 442   7 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 443   24 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 463   47 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 464   210 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 488   -2 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 486   112 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 492   45 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 494   4 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 498   121 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 506   72 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 507   186 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 508   23 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 509   62 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 510   76 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 515   3 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 512   311 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 514   69 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 520   3 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 518   48 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 519   24 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 531   229 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 532   99 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 533   3 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 534   54 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 545   77 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 546   1 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 549   237 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 551   299 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 567   150 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 575   181 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 580   82 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 587   1 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 588   3 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 None,
 None,
 None,
 600   5 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 602   806 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 605   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 615   10 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 616   12 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 626   57 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 634   1051 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 642   30 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 643   53 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 644   67 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 645   52 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 646   16 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 647   16 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 650   44 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 658   219 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 664   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 667   182 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 666   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 669   29 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 672   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 674   425 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 679   16 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 683   475 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 689   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 688   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 690   62 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 694   144 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 700   59 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 709   12 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 712   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 713   34 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 714   69 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 715   102 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 716   149 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 727   187 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 731   218 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 733   6 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 734   6 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 735   16 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 739   160 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 747   158 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 745   108 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 None,
 None,
 None,
 756   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 757   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 758   0 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 754   1 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 Series([], Name: Encounter End Date, dtype: timedelta64[ns]),
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 773   77 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 792   55 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 798   681 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 801   691 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 804   136 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 813   1 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 824   16 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 825   38 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 828   8 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 843   16 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 845   4 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 849   543 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 854   545 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 872   30 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 876   486 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 884   210 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 885   64 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 886   27 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 887   81 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 910   174 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,
 909   253 days
 Name: Encounter End Date, dtype: timedelta64[ns],
 None,

In [225]:
admissions = admissions[['Patient ID','Facility Provider ID','Encounter Start Date','Encounter End Date']]

In [226]:
admissions.columns = ['patient_id','facility_id','start_date','end_date']
admissions

     patient_id         facility_id start_date   end_date
0     DS1|10033  DS1|NPI|1306890389 2013-01-12 2013-01-14
1     DS1|10043  DS1|NPI|1902803315 2014-01-05 2014-01-12
2     DS1|10073  DS1|NPI|1902803315 2012-06-13 2012-06-21
3     DS1|10101  DS1|NPI|1427055839 2012-12-06 2012-12-09
4     DS1|10118  DS1|NPI|1992818256 2015-03-11 2015-03-14
...         ...                 ...        ...        ...
6208   DS1|9979  DS1|NPI|1689772592 2015-02-06 2015-02-11
6209   DS1|9981  DS1|NPI|1427055839 2014-08-07 2014-08-10
6210   DS1|9994  DS1|NPI|1689608150 2015-11-21 2015-11-23
6211   DS1|9994  DS1|NPI|1689608150 2015-11-24 2015-11-27
6212   DS1|9996  DS1|NPI|1033298617 2010-03-28 2010-03-31

[6213 rows x 4 columns]

In [227]:
admissions['next_adm']=admissions.sort_values(by=['start_date'],ascending=True).groupby(['patient_id'])['start_date'].shift(-1)

In [228]:
admissions['diff']= admissions['next_adm'] - admissions['end_date']
admissions

     patient_id         facility_id start_date   end_date   next_adm   diff
0     DS1|10033  DS1|NPI|1306890389 2013-01-12 2013-01-14        NaT    NaT
1     DS1|10043  DS1|NPI|1902803315 2014-01-05 2014-01-12        NaT    NaT
2     DS1|10073  DS1|NPI|1902803315 2012-06-13 2012-06-21        NaT    NaT
3     DS1|10101  DS1|NPI|1427055839 2012-12-06 2012-12-09        NaT    NaT
4     DS1|10118  DS1|NPI|1992818256 2015-03-11 2015-03-14        NaT    NaT
...         ...                 ...        ...        ...        ...    ...
6208   DS1|9979  DS1|NPI|1689772592 2015-02-06 2015-02-11        NaT    NaT
6209   DS1|9981  DS1|NPI|1427055839 2014-08-07 2014-08-10        NaT    NaT
6210   DS1|9994  DS1|NPI|1689608150 2015-11-21 2015-11-23 2015-11-24 1 days
6211   DS1|9994  DS1|NPI|1689608150 2015-11-24 2015-11-27        NaT    NaT
6212   DS1|9996  DS1|NPI|1033298617 2010-03-28 2010-03-31        NaT    NaT

[6213 rows x 6 columns]

In [229]:
pt_readmitted = admissions.dropna()
pt_readmitted

     patient_id         facility_id start_date   end_date   next_adm     diff
8     DS1|10132  DS1|NPI|1386741635 2013-03-30 2013-04-01 2013-08-14 135 days
18    DS1|10253  DS1|NPI|1396725677 2010-06-02 2010-06-06 2011-10-15 496 days
19    DS1|10253  DS1|NPI|1689772592 2010-04-02 2010-04-16 2010-06-02  47 days
20    DS1|10291  DS1|NPI|1821250762 2010-05-14 2010-05-15 2011-02-24 285 days
34    DS1|10451  DS1|NPI|1023010113 2014-04-24 2014-04-26 2014-05-23  27 days
...         ...                 ...        ...        ...        ...      ...
6198   DS1|9935  DS1|NPI|1669456299 2011-01-22 2011-01-24 2011-01-25   1 days
6199   DS1|9935  DS1|NPI|1902803315 2011-01-25 2011-01-26 2011-01-26   0 days
6201   DS1|9943  DS1|NPI|1184722779 2013-10-01 2013-10-16 2013-10-25   9 days
6202   DS1|9943  DS1|NPI|1184722779 2013-10-25 2013-10-28 2014-10-28 365 days
6210   DS1|9994  DS1|NPI|1689608150 2015-11-21 2015-11-23 2015-11-24   1 days

[1512 rows x 6 columns]

In [230]:
pt_readmitted = pt_readmitted.sort_values('start_date')
pt_readmitted

     patient_id         facility_id start_date   end_date   next_adm      diff
77    DS1|10734  DS1|NPI|1104982917 2009-11-11 2009-11-25 2010-04-25  151 days
3367  DS1|39675  DS1|NPI|1184722779 2009-11-24 2010-11-30 2011-01-17   48 days
1304  DS1|21571  DS1|NPI|1689608150 2009-11-27 2009-12-02 2010-02-20   80 days
2612   DS1|3294  DS1|NPI|1710065933 2009-11-28 2009-12-08 2010-01-01   24 days
4982  DS1|53976  DS1|NPI|1689772592 2009-11-29 2009-12-01 2009-12-28   27 days
...         ...                 ...        ...        ...        ...       ...
4642  DS1|51247  DS1|NPI|1184722779 2018-07-16 2018-07-21 2019-04-09  262 days
5899   DS1|6964  DS1|NPI|1184722779 2018-07-21 2018-11-18 2018-07-21 -120 days
5898   DS1|6964  DS1|NPI|0000000000 2018-07-21 2018-09-18 2018-11-23   66 days
922   DS1|18117  DS1|NPI|1033298617 2018-08-08 2018-08-11 2018-08-08   -3 days
1334   DS1|2184  DS1|NPI|1902803315 2018-08-20 2018-08-25 2019-02-24  183 days

[1512 rows x 6 columns]

In [246]:
pt_readmitted = pt_readmitted[pt_readmitted['diff'] > '0 days']

In [247]:
pt_readmitted = pt_readmitted[pt_readmitted['diff'] <= '30 days']
pt_readmitted

     patient_id         facility_id start_date   end_date   next_adm    diff
2612   DS1|3294  DS1|NPI|1710065933 2009-11-28 2009-12-08 2010-01-01 24 days
4982  DS1|53976  DS1|NPI|1689772592 2009-11-29 2009-12-01 2009-12-28 27 days
3804  DS1|43565  DS1|NPI|1801152566 2009-12-09 2009-12-17 2009-12-30 13 days
3169  DS1|37954  DS1|NPI|1871543215 2009-12-23 2010-01-29 2010-02-16 18 days
2690  DS1|33763  DS1|NPI|1710918545 2009-12-23 2009-12-24 2010-01-21 28 days
...         ...                 ...        ...        ...        ...     ...
2000  DS1|27178  DS1|NPI|1184722779 2017-08-16 2017-08-17 2017-08-28 11 days
1864  DS1|25963  DS1|NPI|1992818256 2017-09-10 2017-09-14 2017-09-15  1 days
3608  DS1|41795  DS1|NPI|1902803315 2017-12-25 2018-01-07 2018-01-31 24 days
279   DS1|12364  DS1|NPI|1184722779 2018-03-13 2018-03-18 2018-04-04 17 days
280   DS1|12364  DS1|NPI|1184722779 2018-04-04 2018-04-11 2018-05-02 21 days

[575 rows x 6 columns]

In [233]:
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   patient_id   6213 non-null   object
 1   facility_id  6213 non-null   object
 2   start_date   6213 non-null   datetime64[ns]
 3   end_date     6213 non-null   datetime64[ns]
 4   next_adm     1512 non-null   datetime64[ns]
 5   diff         1512 non-null   timedelta64[ns]
dtypes: datetime64[ns](3), object(2), timedelta64[ns](1)
memory usage: 291.4+ KB